### Q.1) Scrape the details of most viewed videos on YouTube from Wikipedia:

In [1]:
import selenium 
import numpy as np
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome("chromedriver.exe")
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)

In [3]:
link = driver.find_element_by_xpath("((//td[@class='mbox-text'])//span[@class='plainlinks'])[2]")
link.click()

In [4]:
link2 = driver.find_element_by_xpath("((//div[@class='mw-search-result-heading'])//a)[1]")
link2.click()

In [5]:
Rank = []
Name = []
Artist = []
Upload_date = []
View = []

for i in driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]"):
    try:
        Rank.append(i.text)
    except:
        Rank.append("--")

        
for a in driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]"):
    try:
        Name.append(a.text)
    except:
        Name.append("--")

for b in driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]"):
    try:
        Artist.append(b.text)
    except:
        Artist.append("--")
        
for c in driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]"):
    try:
        Upload_date.append(c.text)
    except:
        Upload_date.append("--")
        
for d in driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]"):
    try:
        View.append(d.text)
    except:
        View.append("--")
        
        
(len(Rank),len(Name),len(Artist),len(Upload_date),len(View))

(30, 30, 30, 30, 30)

In [6]:
print(Rank)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [7]:
print(Name)

['"Baby Shark Dance"[23]', '"Despacito"[25]', '"Johny Johny Yes Papa"[26]', '"Shape of You"[27]', '"See You Again"[28]', '"Bath Song"[31]', '"Learning Colors – Colorful Eggs on a Farm"[32]', '"Masha and the Bear – Recipe for Disaster"[33]', '"Uptown Funk"[34]', '"Phonics Song with Two Words"[35]', '"Gangnam Style"[36]', '"Dame Tu Cosita"[38]', '"Sugar"[39]', '"Sorry"[40]', '"Roar"[41]', '"Counting Stars"[42]', '"Thinking Out Loud"[43]', '"Wheels on the Bus"[44]', '"Dark Horse"[45]', '"Faded"[46]', '"Girls Like You"[47]', '"Lean On"[48]', '"Bailando"[49]', '"Shake It Off"[50]', '"Let Her Go"[51]', '"Axel F"[52]', '"Mi Gente"[53]', '"Perfect"[54]', '"Waka Waka (This Time for Africa)"[55]', '"Hello"[56]']

In [8]:
print(Artist)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon – Nursery Rhymes', 'Miroshka TV', 'Get Movies', 'Mark Ronson', 'ChuChu TV', 'Psy', 'El Chombo', 'Maroon 5', 'Justin Bieber', 'Katy Perry', 'OneRepublic', 'Ed Sheeran', 'Cocomelon – Nursery Rhymes', 'Katy Perry', 'Alan Walker', 'Maroon 5', 'Major Lazer', 'Enrique Iglesias', 'Taylor Swift', 'Passenger', 'Crazy Frog', 'J Balvin', 'Ed Sheeran', 'Shakira', 'Adele']

In [9]:
print(Upload_date)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'January 30, 2017', 'April 6, 2015', 'May 2, 2018', 'February 27, 2018', 'January 31, 2012', 'November 19, 2014', 'March 6, 2014', 'July 15, 2012', 'April 5, 2018', 'January 14, 2015', 'October 22, 2015', 'September 5, 2013', 'May 31, 2013', 'October 7, 2014', 'May 24, 2018', 'February 20, 2014', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015', 'April 11, 2014', 'August 18, 2014', 'July 25, 2012', 'June 16, 2009', 'June 29, 2017', 'November 9, 2017', 'June 4, 2010', 'October 22, 2015']

In [10]:
print(View)

['9.46', '7.57', '5.78', '5.48', '5.29', '4.55', '4.52', '4.46', '4.32', '4.22', '4.21', '3.63', '3.57', '3.47', '3.45', '3.41', '3.34', '3.29', '3.16', '3.16', '3.14', '3.11', '3.11', '3.10', '3.09', '3.04', '2.99', '2.98', '2.96', '2.89']

In [11]:
Most_Viewed = pd.DataFrame({})
Most_Viewed["Rank"]  = Rank
Most_Viewed["Name"] = Name
Most_Viewed["Artist"] = Artist
Most_Viewed["Upload Date"] = Upload_date
Most_Viewed["Views (Billions)"] = View

In [12]:
Most_Viewed

,Rank,Name,Artist,Upload Date,Views (Billions)
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.46
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.57
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.78
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.48
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.29
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.55
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.52
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.46
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.32
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.22
10,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.21
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.63
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.57
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.47
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.45
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.41
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.34
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.29
18,19.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.16
19,20.,"""Faded""[46]",Alan Walker,"December 3, 2015",3.16
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.14
21,22.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.11
22,23.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.11
23,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.10
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.09
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.04
26,27.,"""Mi Gente""[53]",J Balvin,"June 29, 2017",2.99
27,28.,"""Perfect""[54]",Ed Sheeran,"November 9, 2017",2.98
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.96
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.89

In [13]:
driver.close()

### Q.2)Scrape the details team India’s international fixtures from bcci.tv.

In [14]:
import selenium 
import numpy as np
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [15]:
driver = webdriver.Chrome("chromedriver.exe")
url = "https://www.bcci.tv/."
driver.get(url)

In [16]:
btn1 = driver.find_element_by_xpath("(//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover'])[1]")
btn1.click()

In [17]:
btn2 = driver.find_element_by_xpath("(//div[@class='drop-down__options']//li)[1]")
btn2.click()

In [18]:
btn3 = driver.find_element_by_xpath("//button[@class='load-more-button u-center js-show-more-button js-loader']")
btn3.click()

In [19]:
Match_Title = []

for i in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']//strong[@class='fixture__name fixture__name--with-margin']"):
    try:
        Match_Title.append(i.text)
        
    except:
        Match_Title.append("--")
        
len(Match_Title)

40

In [20]:
print(Match_Title)

['Match 16', 'Match 28', 'Match 33', 'Match 37', 'Match 42', '1st T20I', '2nd T20I', '3rd T20I', '1st Test', '2nd Test', '1st Test', '2nd Test', '3rd Test', '1st ODI', '2nd ODI', '3rd ODI', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I', '1st ODI', '2nd ODI', '3rd ODI', '1st T20I', '2nd T20I', '3rd T20I', '1st Test', '2nd Test', '1st T20I', '2nd T20I', '3rd T20I', '1st T20I', '2nd T20I', '3rd T20I', '4th T20I', '5th T20I', '1st T20I', '2nd T20I', '3rd T20I', '1st ODI']

In [21]:
Series = []
for a in driver.find_elements_by_xpath("(//div[@class='fixture__format-strip'])//span[@class='u-unskewed-text fixture__format']"):
    try:
        Series.append(a.text)
    except:
        Series.append("--")
        
len(Series)

40

In [22]:
print(Series)

['T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'TEST', 'TEST', 'TEST', 'TEST', 'TEST', 'ODI', 'ODI', 'ODI', 'T20I', 'T20I', 'T20I', 'T20I', 'ODI', 'ODI', 'ODI', 'T20I', 'T20I', 'T20I', 'TEST', 'TEST', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'T20I', 'ODI']

In [23]:
Place = []
for i in driver.find_elements_by_xpath("(//div[@class='fixture__description u-unskewed-text'])//p[@class='fixture__additional-info']//span"):
    try:
        Place.append(i.text)
    except:
        Place.append("--")
    
len(Place)

40

In [24]:
print(Place)

['Dubai International Stadium, Dubai', 'Dubai International Stadium, Dubai', 'Zayed Cricket Stadium, Abu Dhabi', 'Dubai International Stadium, Dubai', 'Dubai International Stadium, Dubai', 'Sawai Mansingh Stadium, Jaipur', 'JSCA International Stadium Complex, Ranchi', 'Eden Gardens, Kolkata', 'Green Park, Kanpur', 'Wankhede Stadium, Mumbai', 'New Wanderers Stadium, Johannesburg', 'Supersport Park, Centurion', 'New Wanderers Stadium, Johannesburg', 'Boland Park, Paarl', 'Newlands, Cape Town', 'Newlands, Cape Town', 'Newlands, Cape Town', 'Newlands, Cape Town', 'Boland Park, Paarl', 'Boland Park, Paarl', 'Narendra Modi Stadium, Ahmedabad', 'Sawai Mansingh Stadium, Jaipur', 'Eden Gardens, Kolkata', 'Barabati Stadium, Cuttack', 'ACA-VDCA Stadium, Visakhapatnam', 'Greenfield Stadium, Thiruvananthapuram', 'M.Chinnaswamy Stadium, Bangalore', 'Punjab Cricket Association Stadium, Mohali, Chandigarh', 'Punjab Cricket Association Stadium, Mohali, Chandigarh', 'Himachal Pradesh Cricket Association Stadium, Dharamsala', 'Bharat Ratna Shri Atal Bihari Vajpai Ekana Cricket Stadium, Lucknow', 'M. A. Chidambaram Stadium, Chennai', 'M.Chinnaswamy Stadium, Bangalore', 'Vidarbha Cricket Association Stadium, Nagpur', 'Saurashtra Cricket Association Stadium, Rajkot', 'Arun Jaitley Stadium, Delhi', 'Old Trafford, Manchester', 'Trent Bridge, Nottingham', 'The Ageas Bowl, Southampton', 'Edgbaston, Birmingham']

In [25]:
Date = []
for i in driver.find_elements_by_xpath("//div[@class='fixture__full-date']//span[@class='fixture__date']"):
    try:
        Date.append(i.text)
    except:
        Date.append("--")
    
len(Date)

40

In [26]:
print(Date)

['24', '31', '03', '05', '08', '17', '19', '21', '25', '03', '17', '26', '03', '11', '14', '16', '19', '21', '23', '26', '06', '09', '12', '15', '18', '20', '25', '05', '13', '15', '18', '09', '12', '14', '17', '19', '01', '03', '06', '09']

In [27]:
Month  = []
for i in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']//span[@class='fixture__month']"):
    try:
        Month.append(i.text)
    except:
        Month.append("--")
len(Month)

40

In [28]:
print(Month)

['OCTOBER', 'OCTOBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'NOVEMBER', 'DECEMBER', 'DECEMBER', 'DECEMBER', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'JANUARY', 'FEBRUARY', 'FEBRUARY', 'FEBRUARY', 'FEBRUARY', 'FEBRUARY', 'FEBRUARY', 'FEBRUARY', 'MARCH', 'MARCH', 'MARCH', 'MARCH', 'JUNE', 'JUNE', 'JUNE', 'JUNE', 'JUNE', 'JULY', 'JULY', 'JULY', 'JULY']

In [29]:
Time =[]
for a in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    try:
        Time.append(a.text)
        
    except:
        Time.append("--")
len(Time)

40

In [30]:
print(Time)

['19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST', '19:00 IST', '19:00 IST', '19:00 IST', '09:30 IST', '09:30 IST', '13:30 IST', '13:30 IST', '13:30 IST', '14:00 IST', '14:00 IST', '14:00 IST', '19:30 IST', '19:30 IST', '19:30 IST', '19:30 IST', '13:00 IST', '13:00 IST', '13:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '09:30 IST', '09:30 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST', '23:00 IST', '19:00 IST', '23:00 IST', '15:30 IST']

In [31]:
bcci = pd.DataFrame({})
bcci["Match title"] = Match_Title
bcci["Series"] = Series
bcci["Place"] = Place
bcci["Date"] = Date
bcci["Month"] = Month
bcci["Time"] = Time

In [32]:
bcci

,Match title,Series,Place,Date,Month,Time
0,Match 16,T20I,"Dubai International Stadium, Dubai",24,OCTOBER,19:30 IST
1,Match 28,T20I,"Dubai International Stadium, Dubai",31,OCTOBER,19:30 IST
2,Match 33,T20I,"Zayed Cricket Stadium, Abu Dhabi",03,NOVEMBER,19:30 IST
3,Match 37,T20I,"Dubai International Stadium, Dubai",05,NOVEMBER,19:30 IST
4,Match 42,T20I,"Dubai International Stadium, Dubai",08,NOVEMBER,19:30 IST
5,1st T20I,T20I,"Sawai Mansingh Stadium, Jaipur",17,NOVEMBER,19:00 IST
6,2nd T20I,T20I,"JSCA International Stadium Complex, Ranchi",19,NOVEMBER,19:00 IST
7,3rd T20I,T20I,"Eden Gardens, Kolkata",21,NOVEMBER,19:00 IST
8,1st Test,TEST,"Green Park, Kanpur",25,NOVEMBER,09:30 IST
9,2nd Test,TEST,"Wankhede Stadium, Mumbai",03,DECEMBER,09:30 IST
10,1st Test,TEST,"New Wanderers Stadium, Johannesburg",17,DECEMBER,13:30 IST
11,2nd Test,TEST,"Supersport Park, Centurion",26,DECEMBER,13:30 IST
12,3rd Test,TEST,"New Wanderers Stadium, Johannesburg",03,JANUARY,13:30 IST
13,1st ODI,ODI,"Boland Park, Paarl",11,JANUARY,14:00 IST
14,2nd ODI,ODI,"Newlands, Cape Town",14,JANUARY,14:00 IST
15,3rd ODI,ODI,"Newlands, Cape Town",16,JANUARY,14:00 IST
16,1st T20I,T20I,"Newlands, Cape Town",19,JANUARY,19:30 IST
17,2nd T20I,T20I,"Newlands, Cape Town",21,JANUARY,19:30 IST
18,3rd T20I,T20I,"Boland Park, Paarl",23,JANUARY,19:30 IST
19,4th T20I,T20I,"Boland Park, Paarl",26,JANUARY,19:30 IST
20,1st ODI,ODI,"Narendra Modi Stadium, Ahmedabad",06,FEBRUARY,13:00 IST
21,2nd ODI,ODI,"Sawai Mansingh Stadium, Jaipur",09,FEBRUARY,13:00 IST
22,3rd ODI,ODI,"Eden Gardens, Kolkata",12,FEBRUARY,13:00 IST
23,1st T20I,T20I,"Barabati Stadium, Cuttack",15,FEBRUARY,19:00 IST
24,2nd T20I,T20I,"ACA-VDCA Stadium, Visakhapatnam",18,FEBRUARY,19:00 IST
25,3rd T20I,T20I,"Greenfield Stadium, Thiruvananthapuram",20,FEBRUARY,19:00 IST
26,1st Test,TEST,"M.Chinnaswamy Stadium, Bangalore",25,FEBRUARY,09:30 IST
27,2nd Test,TEST,"Punjab Cricket Association Stadium, Mohali, Ch...",05,MARCH,09:30 IST
28,1st T20I,T20I,"Punjab Cricket Association Stadium, Mohali, Ch...",13,MARCH,19:00 IST
29,2nd T20I,T20I,"Himachal Pradesh Cricket Association Stadium, ...",15,MARCH,19:00 IST
30,3rd T20I,T20I,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,18,MARCH,19:00 IST
31,1st T20I,T20I,"M. A. Chidambaram Stadium, Chennai",09,JUNE,19:00 IST
32,2nd T20I,T20I,"M.Chinnaswamy Stadium, Bangalore",12,JUNE,19:00 IST
33,3rd T20I,T20I,"Vidarbha Cricket Association Stadium, Nagpur",14,JUNE,19:00 IST
34,4th T20I,T20I,"Saurashtra Cricket Association Stadium, Rajkot",17,JUNE,19:00 IST
35,5th T20I,T20I,"Arun Jaitley Stadium, Delhi",19,JUNE,19:00 IST
36,1st T20I,T20I,"Old Trafford, Manchester",01,JULY,23:00 IST
37,2nd T20I,T20I,"Trent Bridge, Nottingham",03,JULY,19:00 IST
38,3rd T20I,T20I,"The Ageas Bowl, Southampton",06,JULY,23:00 IST
39,1st ODI,ODI,"Edgbaston, Birmingham",09,JULY,15:30 IST

In [33]:
driver.close()

### Q.3) Scrape the details of selenium exception from guru99.com.

In [34]:
driver = webdriver.Chrome("chromedriver.exe")
url = "https://www.guru99.com/"
driver.get(url)

In [35]:
select = driver.find_element_by_xpath("(//li[@style='width:100%;'])[3]")
select.click()

In [36]:
td = driver.find_element_by_xpath("(//td[@class='responsivetable'])[69]//a")
td

In [37]:
td.click()

In [38]:
Name = []
Description = []
for i in driver.find_elements_by_xpath("//div[@class='entry-content single-content']/table/tbody/tr/td[1]"):
    Name.append(i.text)
    
    
for a in driver.find_elements_by_xpath("//div[@class='entry-content single-content']/table/tbody/tr/td[2]"):
    Description.append(a.text)
    
(len(Name),len(Description))

(41, 41)

In [39]:
print(Name)

['ElementNotVisibleException', 'ElementNotSelectableException', 'NoSuchElementException', 'NoSuchFrameException', 'NoAlertPresentException', 'NoSuchWindowException', 'StaleElementReferenceException', 'SessionNotFoundException', 'TimeoutException', 'WebDriverException', 'ConnectionClosedException', 'ElementClickInterceptedException', 'ElementNotInteractableException', 'ErrorInResponseException', 'ErrorHandler.UnknownServerException', 'ImeActivationFailedException', 'ImeNotAvailableException', 'InsecureCertificateException', 'InvalidArgumentException', 'InvalidCookieDomainException', 'InvalidCoordinatesException', 'InvalidElementStateExceptio', 'InvalidSessionIdException', 'InvalidSwitchToTargetException', 'JavascriptException', 'JsonException', 'NoSuchAttributeException', 'MoveTargetOutOfBoundsException', 'NoSuchContextException', 'NoSuchCookieException', 'NotFoundException', 'RemoteDriverServerException', 'ScreenshotException', 'SessionNotCreatedException', 'UnableToSetCookieException', 'UnexpectedTagNameException', 'UnhandledAlertException', 'UnexpectedAlertPresentException', 'UnknownMethodException', 'UnreachableBrowserException', 'UnsupportedCommandException']

In [40]:
print(Description)

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.', 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.', 'This Exception occurs if an element could not be found.', 'This Exception occurs if the frame target to be switched to does not exist.', 'This Exception occurs when you switch to no presented alert.', 'This Exception occurs if the window target to be switch does not exist.', 'This Selenium exception occurs happens when the web element is detached from the current DOM.', 'The WebDriver is acting after you quit the browser.', 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.', 'This Exception takes place when the WebDriver is acting right after you close the browser.', 'This type of Exception takes place when there is a disconnection in the driver.', 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.', 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.', 'This happens while interacting with the Firefox extension or the remote driver server.', 'Exception is used as a placeholder in case if the server returns an error without a stack trace.', 'This expectation will occur when IME engine activation has failed.', 'It takes place when IME support is unavailable.', 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.', 'It occurs when an argument does not belong to the expected type.', 'This happens when you try to add a cookie under a different domain instead of current URL.', 'This type of Exception matches an interacting operation that is not valid.', 'It occurs when command can’t be finished when the element is invalid.', 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.', 'This occurs when the frame or window target to be switched does not exist.', 'This issue occurs while executing JavaScript given by the user.', 'It occurs when you afford to get the session when the session is not created.', 'This kind of Exception occurs when the attribute of an element could not be found.', 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.', 'ContextAware does mobile device testing.', 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.', 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.', 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.', 'It is not possible to capture a screen.', 'It happens when a new session could not be successfully created.', 'This occurs if a driver is unable to set a cookie.', 'Happens if a support class did not get a web element as expected.', 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.', 'It occurs when there is the appearance of an unexpected alert.', 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.', 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.', 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [41]:
Exception_Handling = pd.DataFrame({})
Exception_Handling["Name"] = Name
Exception_Handling["Description"] = Description

In [42]:
Exception_Handling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [43]:
driver.close()

### Q.4) Scrape the details of State-wise GDP of India from statisticstime.com.

In [44]:
driver = webdriver.Chrome("chromedriver.exe")
url = "http://statisticstimes.com/"
driver.get(url)

In [45]:
button1 = driver.find_element_by_xpath("(//button[@class='dropbtn'])[2]")
button1.click()

In [46]:
button2 = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
button2.click()

In [47]:
gdp = driver.find_element_by_xpath("(//ul[@style='list-style-type:none;margin-left:20px;'])//li[1]")
gdp.click()

In [48]:
Ranks = []
for a in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]"):
    Ranks.append(a.text)

len(Ranks)

33

In [49]:
print(Ranks)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [50]:
States = []
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]"):
    States.append(i.text)
    
len(States)

33

In [51]:
print(States)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands']

In [52]:
GDSP_19_20 = []
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]"):
    try:
        GDSP_19_20.append(i.text)
    except:
        GDSP_19_20.append("--")
    
len(GDSP_19_20)

33

In [53]:
print(GDSP_19_20)

['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']

In [54]:
GDSP_18_19 = []
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[4]"):
    try:
        GDSP_18_19.append(i.text)
    except:
        GDSP_18_19.append("--")

len(GDSP_18_19 )

33

In [55]:
print(GDSP_18_19 )

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']

In [56]:
Share = []
GDP = []
for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]"):
    try:
        Share.append(i.text)
    except:
        Share.append("--")

for a in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]"):
    try:
        GDP.append(a.text)
    except:
        GDP.append("--")

        
len(Share)
len(GDP)

33

In [57]:
print(Share)

['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']

In [58]:
print(GDP)

['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']

In [59]:
df_GDP = pd.DataFrame({})
df_GDP["Rank"] = Ranks
df_GDP["State"] = States
df_GDP["GSDP (19-20)"] = GDSP_19_20
df_GDP["GSDP (18-19)"] = GDSP_18_19
df_GDP["Share (18-19)"] = Share
df_GDP["GDP ($ Billion)"] = GDP

In [60]:
df_GDP

,Rank,State,GSDP (19-20),GSDP (18-19),Share (18-19),GDP ($ Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [61]:
driver.close()

### Q.5) Scrape the details of trending repositories on Github.com.

In [13]:
driver = webdriver.Chrome("chromedriver.exe")
url = ("https://github.com/")
driver.get(url)

In [14]:
Explore = driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]")
Explore.click()

In [15]:
trending = driver.find_element_by_xpath("(//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul/li[3])[1]")
trending.click()

In [16]:
Github_url = []
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    Github_url.append(i.get_attribute("href"))
    
len(Github_url)

25

In [17]:
print(Github_url)

['https://github.com/NVlabs/stylegan3', 'https://github.com/goplus/gop', 'https://github.com/fosscord/fosscord-server', 'https://github.com/KieSun/all-of-frontend', 'https://github.com/Chakazul/Lenia', 'https://github.com/cypress-io/cypress', 'https://github.com/WebDevSimplified/useful-custom-react-hooks', 'https://github.com/practical-tutorials/project-based-learning', 'https://github.com/marcelja/facebook-delete', 'https://github.com/fosscord/fosscord', 'https://github.com/ZhangNanBei/WokerLifeMatters', 'https://github.com/jackfrued/Python-100-Days', 'https://github.com/AveYo/MediaCreationTool.bat', 'https://github.com/ethereum/EIPs', 'https://github.com/xinntao/Real-ESRGAN', 'https://github.com/trekhleb/javascript-algorithms', 'https://github.com/raimohanska/ourboard', 'https://github.com/milvus-io/milvus', 'https://github.com/umijs/umi', 'https://github.com/thunlp/OpenPrompt', 'https://github.com/microsoft/playwright', 'https://github.com/onevcat/Kingfisher', 'https://github.com/tensorflow/tensorflow', 'https://github.com/kamranahmedse/developer-roadmap', 'https://github.com/hoppscotch/hoppscotch']

In [18]:
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []

In [19]:
for i in Github_url:
    driver.get(i)
    time.sleep(5)
    
    try:

        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")

        Contributors_count.append(count.text)

    except NoSuchElementException:#handling no such element exception

        Contributors_count.append('No details available')
        
    
    try:
        used = driver.find_element_by_xpath("//span[@class ='color-text-primary text-bold mr-1']")
            
        Language_used.append(used.text)
        
    except NoSuchElementException:
        
        Language_used.append("-")

(len(Contributors_count),len(Language_used))

(25, 25)

In [20]:

for i in Github_url:
    driver.get(i)
    time.sleep(3)
    

    for i in driver.find_elements_by_xpath("//div[@class='flex-auto min-width-0 width-fit mr-3']/h1/strong"):
        try:
            
            Repository_title.append(i.text)
        except:
            
            Repository_title.append("-")


    for a in  driver.find_elements_by_xpath("//div[@class='flex-shrink-0 col-12 col-md-3']/div/div/div/p"):
        try:
            
            Repository_description.append(a.text)

        except:
            Repository_description("-")


    
    
(len(Repository_title),len(Repository_description))

(25, 24)

In [21]:
print(Repository_title)

['stylegan3', 'gop', 'fosscord-server', 'all-of-frontend', 'Lenia', 'cypress', 'useful-custom-react-hooks', 'project-based-learning', 'facebook-delete', 'fosscord', 'WokerLifeMatters', 'Python-100-Days', 'MediaCreationTool.bat', 'EIPs', 'Real-ESRGAN', 'javascript-algorithms', 'ourboard', 'milvus', 'umi', 'OpenPrompt', 'playwright', 'Kingfisher', 'tensorflow', 'developer-roadmap', 'hoppscotch']

In [22]:
print(Repository_description)

['Official PyTorch implementation of StyleGAN3', 'GoPlus - The Go+ language for engineering, STEM education, and data science', 'Fosscord Server (selfhostable open source discord server) (contains api + cdn + gateway + dashboard + voice)', '你想知道的前端内容都在这', 'Lenia - Mathematical Life Forms', 'Fast, easy and reliable testing for anything that runs in a browser.', 'Curated list of project-based tutorials', 'Fast facebook activity deletion', 'Fosscord is a free open source selfhostable discord compatible chat, voice and video platform', '各大公司作息统计', 'Python - 100天从新手到大师', 'Universal MCT wrapper script for all Windows 10/11 versions from 1507 to 21H2!', 'The Ethereum Improvement Proposal repository', 'Real-ESRGAN aims at developing Practical Algorithms for General Image Restoration.', '📝 Algorithms and data structures implemented in JavaScript with explanations and links to further readings', 'An online whiteboard', 'An open-source vector database for embedding similarity search and AI applications.', '🌋 Pluggable enterprise-level react application framework.', 'An Open-Source Toolkit for Prompt-Learning.', 'Node.js library to automate Chromium, Firefox and WebKit with a single API', 'A lightweight, pure-Swift library for downloading and caching images from the web.', 'An Open Source Machine Learning Framework for Everyone', 'Roadmap to becoming a web developer in 2021', '👽 Open source API development ecosystem https://hoppscotch.io']

In [23]:
print(Contributors_count)

['3', '22', '38', '19', '7', '305', 'No details available', '91', '4', '14', 'No details available', '12', 'No details available', '370', '4', '143', '9', '164', '305', '3', '168', '159', '3,005', '57', '151']

In [25]:
print(Language_used)

['Python', 'Go', 'TypeScript', 'JavaScript', 'Python', 'JavaScript', 'JavaScript', '-', 'Go', 'JavaScript', '-', 'Python', 'Batchfile', 'Solidity', 'Python', 'JavaScript', 'TypeScript', 'Go', 'TypeScript', 'Python', 'JavaScript', 'Swift', 'C++', '-', 'Vue']

In [27]:
df_github = pd.DataFrame({})
df_github["Repository Title"] = Repository_title[:24]
df_github["Repository Description"] = Repository_description[:24]
df_github["Contributors Counts"] = Contributors_count[:24]
df_github['Languages Used'] = Language_used[:24]

In [28]:
df_github

,Repository Title,Repository Description,Contributors Counts,Languages Used
0,stylegan3,Official PyTorch implementation of StyleGAN3,3,Python
1,gop,"GoPlus - The Go+ language for engineering, STE...",22,Go
2,fosscord-server,Fosscord Server (selfhostable open source disc...,38,TypeScript
3,all-of-frontend,你想知道的前端内容都在这,19,JavaScript
4,Lenia,Lenia - Mathematical Life Forms,7,Python
5,cypress,"Fast, easy and reliable testing for anything t...",305,JavaScript
6,useful-custom-react-hooks,Curated list of project-based tutorials,No details available,JavaScript
7,project-based-learning,Fast facebook activity deletion,91,-
8,facebook-delete,Fosscord is a free open source selfhostable di...,4,Go
9,fosscord,各大公司作息统计,14,JavaScript
10,WokerLifeMatters,Python - 100天从新手到大师,No details available,-
11,Python-100-Days,Universal MCT wrapper script for all Windows 1...,12,Python
12,MediaCreationTool.bat,The Ethereum Improvement Proposal repository,No details available,Batchfile
13,EIPs,Real-ESRGAN aims at developing Practical Algor...,370,Solidity
14,Real-ESRGAN,📝 Algorithms and data structures implemented i...,4,Python
15,javascript-algorithms,An online whiteboard,143,JavaScript
16,ourboard,An open-source vector database for embedding s...,9,TypeScript
17,milvus,🌋 Pluggable enterprise-level react application...,164,Go
18,umi,An Open-Source Toolkit for Prompt-Learning.,305,TypeScript
19,OpenPrompt,"Node.js library to automate Chromium, Firefox ...",3,Python
20,playwright,"A lightweight, pure-Swift library for download...",168,JavaScript
21,Kingfisher,An Open Source Machine Learning Framework for ...,159,Swift
22,tensorflow,Roadmap to becoming a web developer in 2021,"3,005",C++
23,developer-roadmap,👽 Open source API development ecosystem https:...,57,-

In [29]:
driver.close()

### Q.6) Scrape the details of top 100 songs on billboard.com.

In [1]:
import selenium 
import numpy as np
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [30]:
driver = webdriver.Chrome("chromedriver.exe")
url = "https://www.billboard.com/"
driver.get(url)

In [31]:
chart_btn = driver.find_element_by_xpath("(//a[@class='header__main-link header__main-link--charts'])[2]")
chart_btn

In [32]:
chart_btn.click()

In [33]:
view = driver.find_element_by_xpath("(//div[@class='charts-landing__info--view-chart-holder'])[1]")
view.click()

In [34]:
Song_name = []
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song_name.append(i.text)

    
len(Song_name)

100

In [35]:
print(Song_name)

['Stay', 'Industry Baby', 'Fancy Like', 'Way 2 Sexy', 'Bad Habits', 'Good 4 U', 'Kiss Me More', 'Levitating', 'Knife Talk', 'Essence', 'Shivers', 'My Universe', 'Need To Know', 'Save Your Tears', 'Heat Waves', "Beggin'", 'Montero (Call Me By Your Name)', 'You Right', "If I Didn't Love You", 'Girls Want Girls', 'Traitor', 'Take My Breath', 'Sharing Locations', 'Chasing After You', 'Pepas', 'Thats What I Want', 'Wockesha', 'Cold Beer Calling My Name', 'Happier Than Ever', 'Fair Trade', 'Deja Vu', 'Cold Heart (PNAU Remix)', "Memory I Don't Mess With", 'A-O-K', 'Love Nwantiti (Ah Ah Ah)', 'Intro (Hate On Me)', 'Leave The Door Open', 'Gyalis', 'Peaches', 'Leave Before You Love Me', 'Love Again', 'My Boy', 'Buy Dirt', 'Hurricane', 'I Was On A Boat That Day', 'Family Ties', 'Meet Me At Our Spot', 'Wild Side', 'Late At Night', 'Have Mercy', 'You Should Probably Leave', 'Whole Lotta Money', 'Cold As You', 'You Time', "Drunk (And I Don't Wanna Go Home)", 'Baddest', "Thinking 'Bout You", 'Butter', 'Too Easy', 'Hot', 'Your Heart', 'Woman', '2055', 'No Friends In The Industry', 'Champagne Poetry', 'Expensive Pain', 'Knowing You', 'Memory', 'On My Soul', 'Thot Shit', "Drinkin' Beer. Talkin' God. Amen.", 'Blue Note$ II', 'Volvi', 'Todo de Ti', 'Jugaste y Sufri', 'Outside (100 MPH)', 'Same Boat', 'Last One Standing', 'In The Bible', 'Chosen', 'Bad Morning', 'Yonaguni', 'The Feels', 'Summer Of Love', 'Get Into It (Yuh)', 'Nevada', 'Waves', 'Life Support', 'Me (FWM)', 'Love Train', 'Feelin Like Tunechi', 'One Mississippi', 'Ghost', 'Sand In My Boots', 'Ride For You', 'Esta Danada', 'Whiskey And Rain', 'TSU', 'Love All', 'No Where']

In [36]:
Artist_name = []
for a in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist_name.append(a.text)

len(Artist_name)

100

In [37]:
print(Artist_name)

['The Kid LAROI & Justin Bieber', 'Lil Nas X & Jack Harlow', 'Walker Hayes', 'Drake Featuring Future & Young Thug', 'Ed Sheeran', 'Olivia Rodrigo', 'Doja Cat Featuring SZA', 'Dua Lipa', 'Drake Featuring 21 Savage & Project Pat', 'Wizkid Featuring Justin Bieber & Tems', 'Ed Sheeran', 'Coldplay x BTS', 'Doja Cat', 'The Weeknd & Ariana Grande', 'Glass Animals', 'Maneskin', 'Lil Nas X', 'Doja Cat & The Weeknd', 'Jason Aldean & Carrie Underwood', 'Drake Featuring Lil Baby', 'Olivia Rodrigo', 'The Weeknd', 'Meek Mill Featuring Lil Baby & Lil Durk', 'Ryan Hurd With Maren Morris', 'Farruko', 'Lil Nas X', 'Moneybagg Yo', 'Jameson Rodgers Featuring Luke Combs', 'Billie Eilish', 'Drake Featuring Travis Scott', 'Olivia Rodrigo', 'Elton John & Dua Lipa', 'Lee Brice', 'Tai Verdes', 'CKay', 'Meek Mill', 'Silk Sonic (Bruno Mars & Anderson .Paak)', 'Capella Grey', 'Justin Bieber Featuring Daniel Caesar & Giveon', 'Marshmello X Jonas Brothers', 'Dua Lipa', 'Elvie Shane', 'Jordan Davis Featuring Luke Bryan', 'Kanye West', 'Old Dominion', 'Baby Keem & Kendrick Lamar', 'THE ANXIETY: WILLOW & Tyler Cole', 'Normani Featuring Cardi B', 'Roddy Ricch', 'Chloe', 'Chris Stapleton', 'BIA Featuring Nicki Minaj', 'Luke Combs', 'Scotty McCreery', 'Elle King & Miranda Lambert', 'Yung Bleu, Chris Brown & 2 Chainz', 'Dustin Lynch Featuring Lauren Alaina Or MacKenzie Porter', 'BTS', 'Gunna & Future', 'Meek Mill Featuring Moneybagg Yo', 'Joyner Lucas & J. Cole', 'Doja Cat', 'Sleepy Hallow', 'Drake', 'Drake', 'Meek Mill', 'Kenny Chesney', 'Kane Brown X blackbear', 'Meek Mill', 'Megan Thee Stallion', 'Chase Rice Featuring Florida Georgia Line', 'Meek Mill Featuring Lil Uzi Vert', 'Aventura x Bad Bunny', 'Rauw Alejandro', 'Eslabon Armado Featuring DannyLux', 'Meek Mill', 'Zac Brown Band', 'Skylar Grey, Polo G, Mozzy & Eminem', 'Drake Featuring Lil Durk & Giveon', 'Blxst & Tyga Featuring Ty Dolla $ign', 'YoungBoy Never Broke Again', 'Bad Bunny', 'TWICE', 'Shawn Mendes & Tainy', 'Doja Cat', 'YoungBoy Never Broke Again', 'Luke Bryan', 'YoungBoy Never Broke Again', 'Meek Mill Featuring A$AP Ferg', 'Meek Mill', 'Lil Wayne Featuring Rich The Kid', 'Kane Brown', 'Justin Bieber', 'Morgan Wallen', 'Meek Mill Featuring Kehlani', 'Ivan Cornejo', 'Michael Ray', 'Drake', 'Drake Featuring JAY-Z', 'YoungBoy Never Broke Again']

In [38]:
lst_btn = driver.find_element_by_xpath("(//button[@class='chart-sorter__button font--semi-bold text--center text--uppercase'])[3]")
lst_btn.click()

In [39]:
LW_Rank = []
for i in driver.find_elements_by_xpath("//span[@class='chart-element__rank__number']"):
    LW_Rank.append(i.text)
    
len(LW_Rank)

100

In [40]:
print(LW_Rank)

['12', '1', '2', '4', '3', '5', '6', '7', '9', '8', '10', '14', '17', '11', '15', '13', '20', '18', '16', '27', '19', '22', '30', '26', '21', '28', '24', '81', '25', '31', '29', '61', '37', '44', '34', '58', '59', '40', '100', '39', '46', '33', '49', '32', '47', '88', '45', '35', '48', '52', '65', '43', '50', '41', '86', '64', '54', '38', '53', '42', '55', '87', '23', '79', '70', '62', '57', '56', '63', '68', '51', '71', '98', '73', '74', '99', '82', '67', '84', '85', '77', '80', '36', '60', '66', '69', '72', '75', '76', '78', '83', '89', '90', '91', '92', '93', '94', '95', '96', '97']

In [41]:
peak_btn = driver.find_element_by_xpath("(//button[@class='chart-sorter__button font--semi-bold text--center text--uppercase'])[4]")
peak_btn.click()

In [42]:
Peak_Rank = []
for i in driver.find_elements_by_xpath("//span[@class='chart-element__rank__number']"):
    Peak_Rank.append(i.text)

len(Peak_Rank)

100

In [43]:
print(Peak_Rank)

['1', '4', '6', '12', '14', '17', '37', '39', '58', '2', '5', '8', '20', '3', '7', '30', '31', '9', '65', '22', '44', '79', '21', '98', '10', '26', '82', '99', '11', '18', '29', '64', '13', '48', '15', '19', '16', '52', '70', '46', '40', '27', '49', '23', '73', '24', '71', '87', '25', '28', '50', '81', '32', '61', '74', '94', '33', '34', '35', '36', '38', '59', '100', '41', '42', '43', '47', '45', '84', '88', '54', '68', '51', '63', '53', '55', '56', '57', '86', '60', '62', '66', '93', '67', '85', '69', '72', '92', '75', '76', '77', '78', '80', '83', '89', '90', '91', '95', '96', '97']

In [44]:
wks_btn = driver.find_element_by_xpath("(//button[@class='chart-sorter__button font--semi-bold text--center text--uppercase'])[5]")
wks_btn.click()

In [45]:
wks_rank = []
for i in driver.find_elements_by_xpath("//span[@class='chart-element__rank__number']"):
    wks_rank.append(i.text)

len(wks_rank)

100

In [46]:
print(wks_rank)

['8', '14', '15', '37', '39', '17', '31', '7', '27', '55', '24', '6', '21', '40', '58', '71', '74', '49', '82', '13', '70', '3', '87', '5', '16', '18', '42', '10', '28', '34', '45', '51', '1', '52', '68', '41', '48', '63', '94', '2', '19', '25', '33', '29', '38', '53', '54', '56', '62', '73', '22', '43', '85', '57', '67', '84', '23', '44', '46', '4', '9', '20', '30', '32', '64', '65', '79', '98', '99', '11', '47', '50', '88', '26', '35', '77', '12', '59', '61', '72', '80', '81', '86', '92', '93', '100', '36', '60', '66', '69', '75', '76', '78', '83', '89', '90', '91', '95', '96', '97']

In [47]:
wks_song = []
wks_artist = []

for i in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]"):
    wks_song.append(i.text)
    
    
for a in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]"):
    wks_artist.append(a.text)
    
    
(len(wks_song),len(wks_artist))

(100, 100)

In [48]:
print(wks_song)

['Levitating', 'Save Your Tears', 'Heat Waves', 'Leave The Door Open', 'Peaches', 'Montero (Call Me By Your Name)', 'Deja Vu', 'Kiss Me More', 'Wockesha', "Drunk (And I Don't Wanna Go Home)", 'Chasing After You', 'Good 4 U', 'Traitor', 'Leave Before You Love Me', 'Butter', "Drinkin' Beer. Talkin' God. Amen.", 'Todo de Ti', 'Late At Night', 'Yonaguni', 'Need To Know', 'Thot Shit', 'Fancy Like', 'Waves', 'Bad Habits', "Beggin'", 'You Right', 'My Boy', 'Essence', 'Cold Beer Calling My Name', 'A-O-K', 'I Was On A Boat That Day', 'You Should Probably Leave', 'Stay', 'Whole Lotta Money', 'Memory', 'Love Again', 'Wild Side', '2055', 'Sand In My Boots', 'Industry Baby', "If I Didn't Love You", 'Pepas', "Memory I Don't Mess With", 'Happier Than Ever', 'Gyalis', 'Cold As You', 'You Time', 'Baddest', 'Woman', 'Volvi', 'Take My Breath', 'Buy Dirt', 'Get Into It (Yuh)', "Thinking 'Bout You", 'Knowing You', 'Summer Of Love', 'Sharing Locations', 'Hurricane', 'Family Ties', 'Way 2 Sexy', 'Knife Talk', 'Girls Want Girls', 'Fair Trade', 'Cold Heart (PNAU Remix)', 'No Friends In The Industry', 'Champagne Poetry', 'In The Bible', 'TSU', 'Love All', 'Shivers', 'Meet Me At Our Spot', 'Have Mercy', 'Life Support', 'Thats What I Want', 'Love Nwantiti (Ah Ah Ah)', 'Same Boat', 'My Universe', 'Too Easy', 'Your Heart', 'Blue Note$ II', 'Chosen', 'Bad Morning', 'Nevada', 'One Mississippi', 'Ghost', 'No Where', 'Intro (Hate On Me)', 'Hot', 'Expensive Pain', 'On My Soul', 'Jugaste y Sufri', 'Outside (100 MPH)', 'Last One Standing', 'The Feels', 'Me (FWM)', 'Love Train', 'Feelin Like Tunechi', 'Ride For You', 'Esta Danada', 'Whiskey And Rain']

In [49]:
print(wks_artist)

['Dua Lipa', 'The Weeknd & Ariana Grande', 'Glass Animals', 'Silk Sonic (Bruno Mars & Anderson .Paak)', 'Justin Bieber Featuring Daniel Caesar & Giveon', 'Lil Nas X', 'Olivia Rodrigo', 'Doja Cat Featuring SZA', 'Moneybagg Yo', 'Elle King & Miranda Lambert', 'Ryan Hurd With Maren Morris', 'Olivia Rodrigo', 'Olivia Rodrigo', 'Marshmello X Jonas Brothers', 'BTS', 'Chase Rice Featuring Florida Georgia Line', 'Rauw Alejandro', 'Roddy Ricch', 'Bad Bunny', 'Doja Cat', 'Megan Thee Stallion', 'Walker Hayes', 'Luke Bryan', 'Ed Sheeran', 'Maneskin', 'Doja Cat & The Weeknd', 'Elvie Shane', 'Wizkid Featuring Justin Bieber & Tems', 'Jameson Rodgers Featuring Luke Combs', 'Tai Verdes', 'Old Dominion', 'Chris Stapleton', 'The Kid LAROI & Justin Bieber', 'BIA Featuring Nicki Minaj', 'Kane Brown X blackbear', 'Dua Lipa', 'Normani Featuring Cardi B', 'Sleepy Hallow', 'Morgan Wallen', 'Lil Nas X & Jack Harlow', 'Jason Aldean & Carrie Underwood', 'Farruko', 'Lee Brice', 'Billie Eilish', 'Capella Grey', 'Luke Combs', 'Scotty McCreery', 'Yung Bleu, Chris Brown & 2 Chainz', 'Doja Cat', 'Aventura x Bad Bunny', 'The Weeknd', 'Jordan Davis Featuring Luke Bryan', 'Doja Cat', 'Dustin Lynch Featuring Lauren Alaina Or MacKenzie Porter', 'Kenny Chesney', 'Shawn Mendes & Tainy', 'Meek Mill Featuring Lil Baby & Lil Durk', 'Kanye West', 'Baby Keem & Kendrick Lamar', 'Drake Featuring Future & Young Thug', 'Drake Featuring 21 Savage & Project Pat', 'Drake Featuring Lil Baby', 'Drake Featuring Travis Scott', 'Elton John & Dua Lipa', 'Drake', 'Drake', 'Drake Featuring Lil Durk & Giveon', 'Drake', 'Drake Featuring JAY-Z', 'Ed Sheeran', 'THE ANXIETY: WILLOW & Tyler Cole', 'Chloe', 'YoungBoy Never Broke Again', 'Lil Nas X', 'CKay', 'Zac Brown Band', 'Coldplay x BTS', 'Gunna & Future', 'Joyner Lucas & J. Cole', 'Meek Mill Featuring Lil Uzi Vert', 'Blxst & Tyga Featuring Ty Dolla $ign', 'YoungBoy Never Broke Again', 'YoungBoy Never Broke Again', 'Kane Brown', 'Justin Bieber', 'YoungBoy Never Broke Again', 'Meek Mill', 'Meek Mill Featuring Moneybagg Yo', 'Meek Mill', 'Meek Mill', 'Eslabon Armado Featuring DannyLux', 'Meek Mill', 'Skylar Grey, Polo G, Mozzy & Eminem', 'TWICE', 'Meek Mill Featuring A$AP Ferg', 'Meek Mill', 'Lil Wayne Featuring Rich The Kid', 'Meek Mill Featuring Kehlani', 'Ivan Cornejo', 'Michael Ray']

In [50]:
wks_last = []
wks_peak = []
wks_chart = []

for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[1]"):
    
    wks_last.append(i.text)
    
    
for a in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]"):
    
        wks_peak.append(a.text)
    
    
for b in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[3]"):
    
    wks_chart.append(b.text)
    
    
(len(wks_last),len(wks_peak),len(wks_chart))

(100, 100, 100)

In [51]:
print(wks_last)

['10', '12', '', '33', '41', '13', '30', '8', '20', '', '', '7', '', '39', '36', '82', '86', '44', '89', '', '73', '', '70', '6', '', '', '', '', '26', '', '', '', '2', '52', '79', '', '51', '78', '', '', '', '', '', '31', '', '', '63', '', '75', '85', '22', '', '94', '', '', '93', '', '34', '42', '4', '9', '17', '23', '', '60', '54', '72', '84', '87', '', '47', '56', '48', '24', '', '', '1', '38', '32', '', '', '28', '58', '', '', '40', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [52]:
print(wks_peak)

['2', '1', '15', '1', '1', '1', '3', '3', '20', '68', '27', '1', '25', '19', '1', '24', '32', '20', '10', '16', '16', '5', '24', '2', '19', '18', '66', '11', '26', '35', '49', '81', '1', '16', '50', '57', '14', '51', '-', '3', '21', '29', '43', '11', '64', '65', '50', '77', '62', '22', '6', '55', '68', '76', '90', '48', '71', '6', '18', '1', '4', '2', '3', '46', '11', '4', '7', '9', '10', '14', '44', '28', '48', '10', '50', '95', '1', '38', '32', '-', '98', '28', '58', '-', '-', '40', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']

In [53]:
print(wks_chart)

['53', '43', '15', '31', '29', '28', '27', '26', '24', '53', '24', '21', '9', '20', '20', '19', '19', '18', '18', '13', '17', '3', '16', '15', '16', '11', '42', '10', '14', '34', '45', '51', '13', '13', '13', '41', '12', '12', '32', '2', '15', '25', '33', '10', '38', '53', '10', '56', '10', '10', '9', '43', '9', '57', '67', '7', '22', '6', '6', '5', '5', '5', '5', '32', '5', '5', '5', '5', '5', '11', '4', '4', '4', '3', '35', '77', '2', '2', '2', '72', '80', '2', '2', '73', '66', '2', '36', '60', '66', '69', '75', '76', '78', '83', '89', '90', '91', '95', '96', '97']

In [54]:
billboard = pd.DataFrame({})
billboard["Song Name"] = Song_name
billboard["Artist Name"] = Artist_name
billboard["Last Week Rank"] = LW_Rank
billboard["Peak Rank"] = Peak_Rank
billboard["Weeks On Chart Rank"] = wks_rank
billboard["Wks Song"] = wks_song
billboard["Wks Artist"] = wks_artist
billboard["Wks Last"] = wks_last
billboard["Wks Peak"] = wks_peak
billboard["Wks Chart"] = wks_chart

In [55]:
billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Chart Rank,Wks Song,Wks Artist,Wks Last,Wks Peak,Wks Chart
0,Stay,The Kid LAROI & Justin Bieber,12,1,8,Levitating,Dua Lipa,10,2,53
1,Industry Baby,Lil Nas X & Jack Harlow,1,4,14,Save Your Tears,The Weeknd & Ariana Grande,12,1,43
2,Fancy Like,Walker Hayes,2,6,15,Heat Waves,Glass Animals,,15,15
3,Way 2 Sexy,Drake Featuring Future & Young Thug,4,12,37,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),33,1,31
4,Bad Habits,Ed Sheeran,3,14,39,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,41,1,29
...,...,...,...,...,...,...,...,...,...,...
95,Esta Danada,Ivan Cornejo,93,90,90,Love Train,Meek Mill,,-,90
96,Whiskey And Rain,Michael Ray,94,91,91,Feelin Like Tunechi,Lil Wayne Featuring Rich The Kid,,-,91
97,TSU,Drake,95,95,95,Ride For You,Meek Mill Featuring Kehlani,,-,95
98,Love All,Drake Featuring JAY-Z,96,96,96,Esta Danada,Ivan Cornejo,,-,96
99,No Where,YoungBoy Never Broke Again,97,97,97,Whiskey And Rain,Michael Ray,,-,97

In [56]:
driver.close()

### Q.7)Scrape the details of Data science recruiters from naukri.com.

In [57]:
driver = webdriver.Chrome('chromedriver.exe')
url = "https://www.naukri.com/"
driver.get(url)

In [58]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")

driver.get(recruiters.get_attribute('href'))

time.sleep(1)

In [59]:
search_pane = driver.find_element_by_xpath("(//input[@class='sugInp'])[1]")
search_pane

In [60]:
search_pane.send_keys("Data science")
search_pane

In [61]:
search_btn7 = driver.find_element_by_id("qsbFormBtn")
search_btn7

In [62]:
search_btn7.click()

In [63]:
name = []
designation = []
company = []
skill = []
location = []

for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    
    name.append(i.text)

for a in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    
    designation.append(a.text)

for b in  driver.find_elements_by_xpath("//a[@class='ellipsis'][2]"):
    
    company.append(b.text)

for c in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    
    skill.append(c.text)

for d in driver.find_elements_by_xpath("//small[@class='ellipsis']"):
    
    location.append(d.text)


(len(name),len(designation),len(skill),len(company),len(location))

(50, 50, 50, 50, 49)

In [64]:
print(name)

['Aakash Harit', 'shravan Kumar Gaddam', 'MARSIAN Technologies LLP', 'Anik Agrawal', 'Narasimha', 'subhas patel', 'Abhishek - Only Analytics Hiring - India and', 'Institute for Financial Management and Resear', 'Balu Ramesh', 'Asif Lucknowi', 'InstaFinancials', 'Priyanka Akiri', 'Kalpana Dumpala', 'Mubarak', 'Kushal Rastogi', 'Ruchi Dhote', 'Mahesh Babu Channa', 'Kapil Devang', 'Manisha Yadav', 'Riya Rajesh', 'Rashmi Bhattacharjee', 'Faizan Kareem', 'Rithika dadwal', 'Sandhya Khandagale', 'Shaun Rao', 'Azahar Shaikh', 'Manas', 'kumar', 'Sunil Vedula', 'Rajat Kumar', 'Priya Khare', 'Dhruv Dev Dubey', 'Jayanth N', 'SREEDHAR', 'Ravi Dubey', 'Radha Manivasagam', 'Prateek Kumar', 'Amit Sharma', 'Kanan', 'Shashikant Chaudhary', 'Brad', 'Rutuja Pawar', 'Madhusudhan Sridhar', 'Ankit Sinha', 'Gaurav Chouhan', 'Rashi Kacker', 'Ashwini', 'Balaji Kolli', 'Rajani Nagaraj', 'ROHIT Kumar']

In [65]:
print(designation)

['HR Manager', 'Company Recruiter', 'Company HR', 'Company Recruiter', 'Company Recruiter', 'Founder CEO', 'Recruitment Lead Consultant', 'Programme Manager', 'HR Administrator', 'Director', 'Human Resource', 'HR Manager', 'Executive Hiring', 'Company HR', 'Company HR', 'Senior Executive Talent Acquisition', 'HR Team Lead', 'HR Manager', 'HR Executive', 'Manager Talent Acquisition', 'HR Head', 'HR MANAGER', 'HR Recruiter', 'HR Recruiter', 'Manager Human Resources', 'Company Recruiter', 'Lead Talent acquisition', 'Proprietor', 'CEO', 'Founder CEO', 'Senior Manager', 'Company Recruitment Head', 'Project Manager', 'Recruitment Consultant', 'Recruitment Manager', 'HR Executive', 'Head', 'Consultant', 'senior technology instructor', 'HR Recruiter/HR Excutive', 'Manager, Technical Recruiting', 'Technical Recruiter', 'Erp Implementer', 'Head Analytics', 'Chief Technical Officer', 'Sr Product Manager', 'Director Global Delivery', 'Co Founder', 'HR Manager', 'Architect']

In [66]:
print(skill)

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional', '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software', 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics', 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws', 'Data Modeling, Data Wrangling, seaborn, eda, python, r, Data Science, ai, Machine Learning, Deep Learning, Neural Networks', 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL', 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big', 'Data Science', 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End', 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil', 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript', 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases', 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep', 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi', 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human', 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning', 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager', 'Big Data, Hadoop, Data Analytics, Data Science', 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing', 'Data Science', 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship', 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining', 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop', 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring', 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology', 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics', 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js', 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data', 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data', 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture', 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization', 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi', 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience', 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All', 'Walmart Interra Skeps Expressstores indifi whitehatJr Practo Zylo Doctalk Medtrail', 'Python, Artificial Intelligence, Machine Learning, Data Science', 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced', 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java', 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++', 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written', 'Data Science, Software Engineering', 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management', 'Data Science, Recruitment, Salary', 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview', 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented', 'Data Science, Node.js, Angularjs', 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql', 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills', 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata', 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics']

In [67]:
print(company)

['Data Science Network', 'Shore Infotech India Pvt. Ltd', 'MARSIAN Technologies LLP', 'Enerlytics Software Solutions Pvt Ltd', 'Step Next Private Limited', 'LibraryXProject', 'Apidel Technologies Division of Transpower', 'IFMR', 'Techvantage Systems Pvt Ltd', 'Weupskill- Live Wire India', 'CBL Data Science Private Limited', 'Infinitive Software Solutions Pvt.Ltd.', 'Innominds Software', 'MoneyTap', 'QuantMagnum Technologies Pvt. Ltd.', 'Bristlecone India Ltd', 'SocialPrachar.com', 'BISP Solutions', 'Easi Tax', 'Novelworx Digital Solutions', 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...', 'FirstTech Consaltants Pvt.Ltd', 'Affine Analytics', 'Compumatrice Multimedia Pvt Ltd', 'Exela Technologies', 'NEAL ANALYTICS SERVICES PVT LTD', 'Autumn Leaf Consulting Services Private...', 'trainin', 'Nanoprecise Sci Corp', 'R.S Consultancy &amp; Services', 'Independent Consultant', 'Confidential', 'Dollarbird Information Services Pvt, Ltd', 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED', 'HyrEzy Talent Solutions LLP', 'Techcovery', 'Trisect', 'ASCO consulting', 'NY INST', '3D India Staffing Research &amp; Consulting...', 'O.C. Tanner', 'Demand Matrix', 'MADHUSUDHAN SRIDHAR', 'Suntech Global', 'Strategic Consulting Lab', 'Impel Labs Pvt. Ltd.', 'MRP Advisers', 'Saras Solutions India Pvt Ltd', 'WildJasmine', 'LNT Private Limited']

In [68]:
print(location)

['Delhi', 'Hyderabad / Secunderabad', 'Pune', 'Ahmedabad', 'Hyderabad / Secunderabad', 'UK - (london)', 'Vadodara / Baroda', 'Chennai', 'Trivandrum', 'Indore', 'Bengaluru / Bangalore', 'Hyderabad', 'Hyderabad / Secunderabad', 'Bengaluru / Bangalore', 'Mumbai', 'Pune', 'Hyderabad / Secunderabad', 'Bhopal', 'Navi Mumbai', 'Cochin', 'Delhi', 'Hyderabad / Secunderabad', 'Pune', 'Pune', 'Pune', 'Pune', 'Bengaluru / Bangalore', 'Bengaluru / Bangalore', 'Delhi', 'Bengaluru / Bangalore', 'Bengaluru / Bangalore', 'Mysoru / Mysore', 'Hyderabad / Secunderabad', 'Ghaziabad', 'Bengaluru / Bangalore', 'Noida', 'New Delhi', 'Chennai', 'Aligarh', 'Salt Lake City', 'Pune', 'Bengaluru / Bangalore', 'Mumbai', 'Indore', 'Bengaluru / Bangalore', 'MYSORE', 'Hyderabad / Secunderabad', 'Bengaluru / Bangalore', 'Mumbai']

In [69]:
df_naukri = pd.DataFrame({"Name":name[:49],"Designation":designation[:49],"Company":company[:49],
                          "Skills They Hire For":skill[:49],"Location":location})

In [70]:
df_naukri

,Name,Designation,Company,Skills They Hire For,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
35,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
36,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [71]:
driver.close()

### Q.8) Scrape the details of Highest selling novels.

In [72]:
import selenium 
import numpy as np
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [73]:
driver = webdriver.Chrome("chromedriver.exe")
url = ("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.get(url)

In [74]:
Book = []
Book_author = []
Volumes_sold = []
Publisher = []
Genre = []

In [75]:
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    Book.append(i.text)
    
    
    
for a in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    Book_author.append(a.text)
    

for b in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    Volumes_sold.append(b.text)
    
    
(len(Book),len(Book_author),len(Volumes_sold))

(100, 100, 100)

In [76]:
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    Publisher.append(i.text)
    

for a in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    Genre.append(a.text)
    
    
    
(len(Publisher),len(Genre))

(100, 100)

In [77]:
print(Book)

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [78]:
print(Book_author)

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

In [79]:
print(Volumes_sold)

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

In [80]:
print(Publisher)

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

In [81]:
print(Genre)

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

In [82]:
df_guardian = pd.DataFrame({})
df_guardian["Book Name"] = Book
df_guardian["Author Name"] = Book_author 
df_guardian["Volumes Sold"] = Volumes_sold  
df_guardian["Publisher"] = Publisher 
df_guardian["Genre"] = Genre

In [83]:
df_guardian

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [84]:
driver.close()

### Q.9) Scrape the details most watched tv series of all time from imdb.com.

In [85]:
driver = webdriver.Chrome("chromedriver.exe")
url = ("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [86]:
name9 = []
year = []
genre = []
runtime = []
rating = []
votes = []

In [87]:
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name9.append(i.text)
    
for a in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
    year.append(a.text)
    
    
for b in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]"):
    genre.append(b.text)
    
    
for c in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]"):
    runtime.append(c.text)
    
    
    
(len(name9),len(year),len(genre),len(runtime))

(100, 100, 100, 100)

In [88]:
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
    rating.append(i.text)
    
    
for a in driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]"):
    votes.append(a.text)
    
    
(len(rating),len(votes))

(100, 100)

In [89]:
print(name9)

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why', 'The 100', 'Orange Is the New Black', 'Riverdale', "Grey's Anatomy", 'The Flash', 'Arrow', 'Money Heist', 'The Big Bang Theory', 'Black Mirror', 'Sherlock', 'Vikings', 'Pretty Little Liars', 'The Vampire Diaries', 'American Horror Story', 'Breaking Bad', 'Lucifer', 'Supernatural', 'Prison Break', 'How to Get Away with Murder', 'Teen Wolf', 'The Simpsons', 'Once Upon a Time', 'Narcos', 'Daredevil', 'Friends', 'How I Met Your Mother', 'Suits', 'Mr. Robot', 'The Originals', 'Supergirl', 'Gossip Girl', 'Sense8', 'Gotham', 'Westworld', 'Jessica Jones', 'Modern Family', 'Rick and Morty', 'Shadowhunters: The Mortal Instruments', 'The End of the F***ing World', 'House of Cards', 'Dark', 'Elite', 'Sex Education', 'Shameless', 'New Girl', 'Agents of S.H.I.E.L.D.', 'You', 'Dexter', 'Fear the Walking Dead', 'Family Guy', 'The Blacklist', 'Lost', 'Peaky Blinders', 'House M.D.', 'Quantico', 'Orphan Black', 'Homeland', 'Blindspot', 'Legends of Tomorrow', "The Handmaid's Tale", 'Chilling Adventures of Sabrina', 'The Good Doctor', 'Jane the Virgin', 'Glee', 'South Park', 'Brooklyn Nine-Nine', 'Under the Dome', 'The Umbrella Academy', 'True Detective', 'The OA', 'Desperate Housewives', 'Better Call Saul', 'Bates Motel', 'The Punisher', 'Atypical', 'Dynasty', 'This Is Us', 'The Good Place', 'Iron Fist', 'The Rain', 'Mindhunter', 'Revenge', 'Luke Cage', 'Scandal', 'The Defenders', 'Big Little Lies', 'Insatiable', 'The Mentalist', 'The Crown', 'Chernobyl', 'iZombie', 'Reign', 'A Series of Unfortunate Events', 'Criminal Minds', 'Scream: The TV Series', 'The Haunting of Hill House']

In [90]:
print(year)

['(2011–2019)', '(2016– )', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017– )', '(2005– )', '(2014– )', '(2012–2020)', '(2017–2021)', '(2007–2019)', '(2011– )', '(2010–2017)', '(2013–2020)', '(2010–2017)', '(2009–2017)', '(2011– )', '(2008–2013)', '(2016–2021)', '(2005–2020)', '(2005–2017)', '(2014–2020)', '(2011–2017)', '(1989– )', '(2011–2018)', '(2015–2017)', '(2015–2018)', '(1994–2004)', '(2005–2014)', '(2011–2019)', '(2015–2019)', '(2013–2018)', '(2015–2021)', '(2007–2012)', '(2015–2018)', '(2014–2019)', '(2016– )', '(2015–2019)', '(2009–2020)', '(2013– )', '(2016–2019)', '(2017–2019)', '(2013–2018)', '(2017–2020)', '(2018– )', '(2019– )', '(2011–2021)', '(2011–2018)', '(2013–2020)', '(2018– )', '(2006–2013)', '(2015– )', '(1999– )', '(2013– )', '(2004–2010)', '(2014– )', '(2004–2012)', '(2015–2018)', '(2013–2017)', '(2011–2020)', '(2015–2020)', '(2016– )', '(2017– )', '(2018–2020)', '(2017– )', '(2014–2019)', '(2009–2015)', '(1997– )', '(2013–2021)', '(2013–2015)', '(2019– )', '(2014–2019)', '(2016–2019)', '(2004–2012)', '(2015–2022)', '(2013–2017)', '(2017–2019)', '(2017–2021)', '(2017– )', '(2016–2022)', '(2016–2020)', '(2017–2018)', '(2018–2020)', '(2017–2019)', '(2011–2015)', '(2016–2018)', '(2012–2018)', '(2017)', '(2017– )', '(2018–2019)', '(2008–2015)', '(2016– )', '(2019)', '(2015–2019)', '(2013–2017)', '(2017–2019)', '(2005–2020)', '(2015–2019)', '(2018)']

In [91]:
print(genre)

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama', 'Action, Adventure, Crime', 'Action, Crime, Drama', 'Comedy, Romance', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Mystery', 'Action, Adventure, Drama', 'Drama, Mystery, Romance', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Crime, Drama, Thriller', 'Crime, Drama, Fantasy', 'Drama, Fantasy, Horror', 'Action, Crime, Drama', 'Crime, Drama, Mystery', 'Action, Drama, Fantasy', 'Animation, Comedy', 'Adventure, Fantasy, Romance', 'Biography, Crime, Drama', 'Action, Crime, Drama', 'Comedy, Romance', 'Comedy, Romance', 'Comedy, Drama', 'Crime, Drama, Thriller', 'Drama, Fantasy, Horror', 'Action, Adventure, Drama', 'Drama, Romance', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Drama, Mystery, Sci-Fi', 'Action, Crime, Drama', 'Comedy, Drama, Romance', 'Animation, Adventure, Comedy', 'Action, Drama, Fantasy', 'Adventure, Comedy, Crime', 'Drama', 'Crime, Drama, Mystery', 'Crime, Drama, Thriller', 'Comedy, Drama', 'Comedy, Drama', 'Comedy', 'Action, Adventure, Drama', 'Crime, Drama, Romance', 'Crime, Drama, Mystery', 'Drama, Horror, Sci-Fi', 'Animation, Comedy', 'Crime, Drama, Mystery', 'Adventure, Drama, Fantasy', 'Crime, Drama', 'Drama, Mystery', 'Crime, Drama, Mystery', 'Action, Drama, Sci-Fi', 'Crime, Drama, Mystery', 'Action, Crime, Drama', 'Action, Adventure, Drama', 'Drama, Sci-Fi, Thriller', 'Drama, Fantasy, Horror', 'Drama', 'Comedy', 'Comedy, Drama, Music', 'Animation, Comedy', 'Comedy, Crime', 'Drama, Mystery, Sci-Fi', 'Action, Adventure, Comedy', 'Crime, Drama, Mystery', 'Drama, Fantasy, Mystery', 'Comedy, Drama, Mystery', 'Crime, Drama', 'Drama, Horror, Mystery', 'Action, Crime, Drama', 'Comedy, Drama', 'Drama', 'Comedy, Drama, Romance', 'Comedy, Drama, Fantasy', 'Action, Adventure, Crime', 'Drama, Sci-Fi, Thriller', 'Crime, Drama, Thriller', 'Drama, Mystery, Thriller', 'Action, Crime, Drama', 'Drama, Thriller', 'Action, Adventure, Crime', 'Crime, Drama, Mystery', 'Comedy, Drama, Thriller', 'Crime, Drama, Mystery', 'Biography, Drama, History', 'Drama, History, Thriller', 'Comedy, Crime, Drama', 'Drama, Fantasy', 'Adventure, Comedy, Drama', 'Crime, Drama, Mystery', 'Comedy, Crime, Drama', 'Drama, Horror, Mystery']

In [92]:
print(runtime)

['57 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '49 min', '42 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '22 min', '22 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '22 min', '23 min', '42 min', '25 min', '51 min', '60 min', '60 min', '45 min', '46 min', '22 min', '45 min', '45 min', '53 min', '44 min', '22 min', '43 min', '44 min', '60 min', '44 min', '42 min', '44 min', '55 min', '42 min', '42 min', '60 min', '60 min', '41 min', '60 min', '44 min', '22 min', '22 min', '43 min', '60 min', '55 min', '60 min', '45 min', '46 min', '45 min', '53 min', '30 min', '42 min', '45 min', '22 min', '55 min', '45 min', '60 min', '44 min', '55 min', '43 min', '50 min', '60 min', '45 min', '43 min', '58 min', '330 min', '42 min', '42 min', '50 min', '42 min', '45 min', '572 min']

In [93]:
print(rating)

['9.2', '8.7', '8.2', '7.5', '7.6', '8', '6.7', '7.5', '7.6', '7.5', '8.2', '8.1', '8.8', '9.1', '8.5', '7.4', '7.7', '8', '9.4', '8.1', '8.4', '8.3', '8.1', '7.6', '8.6', '7.7', '8.8', '8.6', '8.8', '8.3', '8.4', '8.5', '8.2', '6.2', '7.4', '8.3', '7.8', '8.6', '7.9', '8.4', '9.2', '6.6', '8.1', '8.7', '8.8', '7.5', '8.3', '8.5', '7.7', '7.5', '7.7', '8.6', '6.9', '8.1', '8', '8.3', '8.8', '8.7', '6.7', '8.3', '8.3', '7.4', '6.8', '8.4', '7.5', '8.1', '7.8', '6.7', '8.7', '8.4', '6.6', '8', '8.9', '7.8', '7.5', '8.8', '8.1', '8.5', '8.3', '7.3', '8.6', '8.2', '6.4', '6.3', '8.6', '7.8', '7.3', '7.7', '7.3', '8.5', '6.5', '8.1', '8.6', '9.4', '7.8', '7.5', '7.8', '8.1', '7.1', '8.6']

In [94]:
print(votes)

['1,883,840', '917,081', '905,254', '271,101', '231,459', '287,492', '130,297', '274,434', '325,386', '418,032', '391,814', '753,199', '481,306', '852,930', '472,153', '157,848', '298,175', '295,626', '1,591,250', '287,786', '410,827', '499,485', '139,280', '136,011', '381,322', '214,768', '383,068', '381,685', '902,892', '634,466', '380,144', '353,693', '125,042', '117,486', '162,423', '146,031', '218,809', '452,732', '200,758', '387,538', '436,166', '57,513', '163,676', '481,546', '324,451', '63,594', '217,455', '217,028', '204,785', '207,571', '168,241', '677,764', '120,203', '316,492', '219,054', '519,969', '414,708', '431,911', '58,869', '105,791', '326,000', '69,783', '97,846', '204,085', '84,710', '78,300', '43,397', '141,664', '344,884', '266,300', '103,540', '182,450', '523,859', '96,838', '121,578', '359,103', '102,000', '200,424', '77,045', '17,522', '119,064', '132,897', '120,973', '33,749', '244,122', '116,128', '121,905', '69,779', '96,438', '174,184', '25,084', '172,510', '175,780', '616,033', '63,427', '45,933', '56,804', '177,543', '36,956', '204,494']

In [95]:
df_IMBD = pd.DataFrame({})
df_IMBD["Name"] = name9
df_IMBD["Year Span"] = year
df_IMBD["Genre"] = genre
df_IMBD["Run Time"] = runtime
df_IMBD["Ratings"] = rating
df_IMBD["Votes"] = votes

In [96]:
df_IMBD

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,883,840"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"917,081"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"905,254"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"271,101"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,459"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,933"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,804"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,543"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,956"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"204,494"

In [97]:
driver.close()

### Q.10)Details of Datasets from UCI machine learning repositories.

In [98]:
import selenium 
import numpy as np
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [99]:
driver = webdriver.Chrome("chromedriver.exe")
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [100]:
View_all = driver.find_element_by_xpath("(//span[@class='whitetext'])[4]/a")
View_all.click()

In [101]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table/tbody//table/tbody/tr/td[2]//a"):
    
    Dataset_name.append(i.text)

for a in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p"):
    
    Data_type.append(a.text)

for b in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p"):
    
    Task.append(b.text)
    
for c in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p"):
    
    Attribute_type.append(c.text)
    
for d in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p"):
    
    No_of_instances.append(d.text)

for e in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p"):
    
    No_of_attributes.append(e.text)

for f in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p"):
    
    Year.append(f.text)

(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attributes),len(Year))

(588, 589, 589, 589, 589, 589, 589)

In [102]:
Data_type = Data_type[1:]
Task = Task[1:]
Attribute_type = Attribute_type[1:]
No_of_instances = No_of_instances[1:]
No_of_attributes = No_of_attributes[1:]
Year = Year[1:]

In [105]:
(len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attributes),len(Year))

(588, 588, 588, 588, 588, 588)

In [106]:
print(Dataset_name)

['Abalone', 'Adult', 'Annealing', 'Anonymous Microsoft Web Data', 'Arrhythmia', 'Artificial Characters', 'Audiology (Original)', 'Audiology (Standardized)', 'Auto MPG', 'Automobile', 'Badges', 'Balance Scale', 'Balloons', 'Breast Cancer', 'Breast Cancer Wisconsin (Original)', 'Breast Cancer Wisconsin (Prognostic)', 'Breast Cancer Wisconsin (Diagnostic)', 'Pittsburgh Bridges', 'Car Evaluation', 'Census Income', 'Chess (King-Rook vs. King-Knight)', 'Chess (King-Rook vs. King-Pawn)', 'Chess (King-Rook vs. King)', 'Chess (Domain Theories)', 'Bach Chorales', 'Connect-4', 'Credit Approval', 'Japanese Credit Screening', 'Computer Hardware', 'Contraceptive Method Choice', 'Covertype', 'Cylinder Bands', 'Dermatology', 'Diabetes', 'DGP2 - The Second Data Generation Program', 'Document Understanding', 'EBL Domain Theories', 'Echocardiogram', 'Ecoli', 'Flags', 'Function Finding', 'Glass Identification', "Haberman's Survival", 'Hayes-Roth', 'Heart Disease', 'Hepatitis', 'Horse Colic', 'ICU', 'Image Segmentation', 'Internet Advertisements', 'Ionosphere', 'Iris', 'ISOLET', 'Kinship', 'Labor Relations', 'LED Display Domain', 'Lenses', 'Letter Recognition', 'Liver Disorders', 'Logic Theorist', 'Lung Cancer', 'Lymphography', 'Mechanical Analysis', 'Meta-data', 'Mobile Robots', 'Molecular Biology (Promoter Gene Sequences)', 'Molecular Biology (Protein Secondary Structure)', 'Molecular Biology (Splice-junction Gene Sequences)', "MONK's Problems", 'Moral Reasoner', 'Multiple Features', 'Mushroom', 'Musk (Version 1)', 'Musk (Version 2)', 'Nursery', 'Othello Domain Theory', 'Page Blocks Classification', 'Optical Recognition of Handwritten Digits', 'Pen-Based Recognition of Handwritten Digits', 'Post-Operative Patient', 'Primary Tumor', 'Prodigy', 'Qualitative Structure Activity Relationships', 'Quadruped Mammals', 'Servo', 'Shuttle Landing Control', 'Solar Flare', 'Soybean (Large)', 'Soybean (Small)', 'Challenger USA Space Shuttle O-Ring', 'Low Resolution Spectrometer', 'Spambase', 'SPECT Heart', 'SPECTF Heart', 'Sponge', 'Statlog Project', 'Student Loan Relational', 'Teaching Assistant Evaluation', 'Tic-Tac-Toe Endgame', 'Thyroid Disease', 'Trains', 'University', 'Congressional Voting Records', 'Water Treatment Plant', 'Waveform Database Generator (Version 1)', 'Waveform Database Generator (Version 2)', 'Wine', 'Yeast', 'Zoo', 'Undocumented', 'Twenty Newsgroups', 'Australian Sign Language signs', 'Australian Sign Language signs (High Quality)', 'US Census Data (1990)', 'Census-Income (KDD)', 'Coil 1999 Competition Data', 'Corel Image Features', 'E. Coli Genes', 'EEG Database', 'El Nino', 'Entree Chicago Recommendation Data', 'CMU Face Images', 'Insurance Company Benchmark (COIL 2000)', 'Internet Usage Data', 'IPUMS Census Database', 'Japanese Vowels', 'KDD Cup 1998 Data', 'KDD Cup 1999 Data', 'M. Tuberculosis Genes', 'Movie', 'MSNBC.com Anonymous Web Data', 'NSF Research Award Abstracts 1990-2003', 'Pioneer-1 Mobile Robot Data', 'Pseudo Periodic Synthetic Time Series', 'Reuters-21578 Text Categorization Collection', 'Robot Execution Failures', 'Synthetic Control Chart Time Series', 'Syskill and Webert Web Page Ratings', 'UNIX User Data', 'Volcanoes on Venus - JARtool experiment', 'Statlog (Australian Credit Approval)', 'Statlog (German Credit Data)', 'Statlog (Heart)', 'Statlog (Landsat Satellite)', 'Statlog (Image Segmentation)', 'Statlog (Shuttle)', 'Statlog (Vehicle Silhouettes)', 'Connectionist Bench (Nettalk Corpus)', 'Connectionist Bench (Sonar, Mines vs. Rocks)', 'Connectionist Bench (Vowel Recognition - Deterding Data)', 'Economic Sanctions', 'Protein Data', 'Cloud', 'CalIt2 Building People Counts', 'Dodgers Loop Sensor', 'Poker Hand', 'MAGIC Gamma Telescope', 'UJI Pen Characters', 'Mammographic Mass', 'Forest Fires', 'Reuters Transcribed Subset', 'Bag of Words', 'Concrete Compressive Strength', 'Hill-Valley', 'Arcene', 'Dexter', 'Dorothea', 'Gisette', 'Madelon', 'Ozone Level Detection', 'Abscisic Acid Signaling Network', 'Parkinsons', 'Character Trajectories', 'Blood Transfusion Service Center', 'UJI Pen Characters (Version 2)', 'Semeion Handwritten Digit', 'SECOM', 'Plants', 'Libras Movement', 'Concrete Slump Test', 'Communities and Crime', 'Acute Inflammations', 'Wine Quality', 'URL Reputation', 'p53 Mutants', 'Parkinsons Telemonitoring', 'Demospongiae', 'Opinosis Opinion ⁄ Review', 'Breast Tissue', 'Cardiotocography', 'Wall-Following Robot Navigation Data', 'Spoken Arabic Digit', 'Localization Data for Person Activity', 'AutoUniv', 'Steel Plates Faults', 'MiniBooNE particle identification', 'YearPredictionMSD', 'PEMS-SF', 'OpinRank Review Dataset', 'Relative location of CT slices on axial axis', 'Online Handwritten Assamese Characters Dataset', 'PubChem Bioassay Data', 'Record Linkage Comparison Patterns', 'Communities and Crime Unnormalized', 'Vertebral Column', 'EMG Physical Action Data Set', 'Vicon Physical Action Data Set', 'Amazon Commerce reviews set', 'Amazon Access Samples', 'Reuter_50_50', 'Farm Ads', 'DBWorld e-mails', 'KEGG Metabolic Relation Network (Directed)', 'KEGG Metabolic Reaction Network (Undirected)', 'Bank Marketing', 'YouTube Comedy Slam Preference Data', 'Gas Sensor Array Drift Dataset', 'ILPD (Indian Liver Patient Dataset)', 'OPPORTUNITY Activity Recognition', 'Nomao', 'SMS Spam Collection', 'Skin Segmentation', 'Planning Relax', 'PAMAP2 Physical Activity Monitoring', 'Restaurant & consumer data', 'CNAE-9', 'Individual household electric power consumption', 'seeds', 'Northix', 'QtyT40I10D100K', 'Legal Case Reports', 'Human Activity Recognition Using Smartphones', 'One-hundred plant species leaves data set', 'Energy efficiency', 'Yacht Hydrodynamics', 'Fertility', 'Daphnet Freezing of Gait', '3D Road Network (North Jutland, Denmark)', 'ISTANBUL STOCK EXCHANGE', 'Buzz in social media', 'First-order theorem proving', 'Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)', 'Gas sensor arrays in open sampling settings', 'Climate Model Simulation Crashes', 'MicroMass', 'QSAR biodegradation', 'BLOGGER', 'Daily and Sports Activities', 'User Knowledge Modeling', 'Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection', 'NYSK', 'Turkiye Student Evaluation', "ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)", 'EEG Eye State', 'Physicochemical Properties of Protein Tertiary Structure', 'seismic-bumps', 'banknote authentication', 'USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat', 'YouTube Multiview Video Games Dataset', 'Gas Sensor Array Drift Dataset at Different Concentrations', 'Activities of Daily Living (ADLs) Recognition Using Binary Sensors', 'SkillCraft1 Master Table Dataset', 'Weight Lifting Exercises monitored with Inertial Measurement Units', 'SML2010', 'Bike Sharing Dataset', 'Predict keywords activities in a online social media', 'Thoracic Surgery Data', 'EMG dataset in Lower Limb', 'SUSY', 'HIGGS', 'Qualitative_Bankruptcy', 'LSVT Voice Rehabilitation', 'Dataset for ADL Recognition with Wrist-worn Accelerometer', 'Wilt', 'User Identification From Walking Activity', 'Activity Recognition from Single Chest-Mounted Accelerometer', 'Leaf', 'Dresses_Attribute_Sales', 'Tamilnadu Electricity Board Hourly Readings', 'Airfoil Self-Noise', 'Wholesale customers', 'Twitter Data set for Arabic Sentiment Analysis', 'Combined Cycle Power Plant', 'Urban Land Cover', 'Diabetes 130-US hospitals for years 1999-2008', 'Bach Choral Harmony', 'StoneFlakes', 'Tennis Major Tournament Match Statistics', 'Parkinson Speech Dataset with Multiple Types of Sound Recordings', 'Gesture Phase Segmentation', 'Perfume Data', 'BlogFeedback', 'REALDISP Activity Recognition Dataset', 'Newspaper and magazine images segmentation dataset', 'AAAI 2014 Accepted Papers', 'Gas sensor array under flow modulation', 'Gas sensor array exposed to turbulent gas mixtures', 'UJIIndoorLoc', 'Sentence Classification', 'Dow Jones Index', 'sEMG for Basic Hand movements', 'AAAI 2013 Accepted Papers', 'Geographical Original of Music', 'Condition Based Maintenance of Naval Propulsion Plants', 'Grammatical Facial Expressions', 'NoisyOffice', 'MHEALTH Dataset', 'Student Performance', 'ElectricityLoadDiagrams20112014', 'Gas sensor array under dynamic gas mixtures', 'microblogPCU', 'Firm-Teacher_Clave-Direction_Classification', 'Dataset for Sensorless Drive Diagnosis', 'TV News Channel Commercial Detection Dataset', 'Phishing Websites', 'Greenhouse Gas Observing Network', 'Diabetic Retinopathy Debrecen Data Set', 'HIV-1 protease cleavage', 'Sentiment Labelled Sentences', 'Online News Popularity', 'Forest type mapping', 'wiki4HE', 'Online Video Characteristics and Transcoding Time Dataset', 'Chronic_Kidney_Disease', 'Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014', 'Folio', 'Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015', 'Cuff-Less Blood Pressure Estimation', 'Smartphone-Based Recognition of Human Activities and Postural Transitions', 'Mice Protein Expression', 'UJIIndoorLoc-Mag', 'Heterogeneity Activity Recognition', 'Educational Process Mining (EPM): A Learning Analytics Data Set', 'HEPMASS', 'Indoor User Movement Prediction from RSS data', 'Open University Learning Analytics dataset', 'default of credit card clients', 'Mesothelioma’s disease data set', 'Online Retail', 'SIFT10M', 'GPS Trajectories', 'Detect Malacious Executable(AntiVirus)', 'Occupancy Detection', 'Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinson’s Disease', 'News Aggregator', 'Air Quality', 'Twin gas sensor arrays', 'Gas sensors for home activity monitoring', 'Facebook Comment Volume Dataset', 'Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)', 'Polish companies bankruptcy data', 'Activity Recognition system based on Multisensor data fusion (AReM)', 'Dota2 Games Results', 'Facebook metrics', 'UbiqLog (smartphone lifelogging)', 'NIPS Conference Papers 1987-2015', 'HTRU2', 'Drug consumption (quantified)', 'Appliances energy prediction', 'Miskolc IIS Hybrid IPS', 'KDC-4007 dataset Collection', 'Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone', 'DrivFace', 'Website Phishing', 'YouTube Spam Collection', 'Beijing PM2.5 Data', 'Cargo 2000 Freight Tracking and Tracing', 'Cervical cancer (Risk Factors)', 'Quality Assessment of Digital Colposcopies', 'KASANDR', 'FMA: A Dataset For Music Analysis', 'Air quality', 'Epileptic Seizure Recognition', 'Devanagari Handwritten Character Dataset', 'Stock portfolio performance', 'MoCap Hand Postures', 'Early biomarkers of Parkinson�s disease based on natural connected speech', 'Data for Software Engineering Teamwork Assessment in Education Setting', 'PM2.5 Data of Five Chinese Cities', 'Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet', 'Sales_Transactions_Dataset_Weekly', 'Las Vegas Strip', 'Eco-hotel', 'MEU-Mobile KSD', 'Crowdsourced Mapping', 'gene expression cancer RNA-Seq', 'Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer', 'chestnut – LARVIC', 'Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network', 'Motion Capture Hand Postures', 'Anuran Calls (MFCCs)', 'TTC-3600: Benchmark dataset for Turkish text categorization', 'Gastrointestinal Lesions in Regular Colonoscopy', 'Daily Demand Forecasting Orders', 'Paper Reviews', 'extention of Z-Alizadeh sani dataset', 'Z-Alizadeh Sani', 'Dynamic Features of VirusShare Executables', 'IDA2016Challenge', 'DSRC Vehicle Communications', 'Mturk User-Perceived Clusters over Images', 'Character Font Images', 'DeliciousMIL: A Data Set for Multi-Label Multi-Instance Learning with Instance Labels', 'Autistic Spectrum Disorder Screening Data for Children', 'Autistic Spectrum Disorder Screening Data for Adolescent', 'APS Failure at Scania Trucks', 'Wireless Indoor Localization', 'HCC Survival', 'CSM (Conventional and Social Media Movies) Dataset 2014 and 2015', 'University of Tehran Question Dataset 2016 (UTQD.2016)', 'Autism Screening Adult', 'Activity recognition with healthy older people using a batteryless wearable sensor', 'Immunotherapy Dataset', 'Cryotherapy Dataset', 'OCT data & Color Fundus Images of Left & Right Eyes', 'Discrete Tone Image Dataset', 'News Popularity in Multiple Social Media Platforms', 'Ultrasonic flowmeter diagnostics', 'ICMLA 2014 Accepted Papers Data Set', 'BLE RSSI Dataset for Indoor localization and Navigation', 'Container Crane Controller Data Set', 'Residential Building Data Set', 'Health News in Twitter', 'chipseq', 'SGEMM GPU kernel performance', 'Repeat Consumption Matrices', 'detection_of_IoT_botnet_attacks_N_BaIoT', 'Absenteeism at work', 'SCADI', 'Condition monitoring of hydraulic systems', 'Carbon Nanotubes', 'Optical Interconnection Network', 'Sports articles for objectivity analysis', 'Breast Cancer Coimbra', 'GNFUV Unmanned Surface Vehicles Sensor Data', 'Dishonest Internet users Dataset', 'Victorian Era Authorship Attribution', 'Simulated Falls and Daily Living Activities Data Set', 'Multimodal Damage Identification for Humanitarian Computing', 'EEG Steady-State Visual Evoked Potential Signals', 'Roman Urdu Data Set', 'Avila', 'PANDOR', 'Drug Review Dataset (Druglib.com)', 'Drug Review Dataset (Drugs.com)', 'Physical Unclonable Functions', 'Superconductivty Data', 'WESAD (Wearable Stress and Affect Detection)', 'GNFUV Unmanned Surface Vehicles Sensor Data Set 2', 'Student Academics Performance', 'Online Shoppers Purchasing Intention Dataset', 'PMU-UD', "Parkinson's Disease Classification", 'Electrical Grid Stability Simulated Data', 'Caesarian Section Classification Dataset', 'BAUM-1', 'BAUM-2', 'Audit Data', 'BuddyMove Data Set', 'Real estate valuation data set', 'Early biomarkers of Parkinson’s disease based on natural connected speech Data Set', 'Somerville Happiness Survey', '2.4 GHZ Indoor Channel Measurements', 'EMG data for gestures', 'Parking Birmingham', 'Behavior of the urban traffic of the city of Sao Paulo in Brazil', 'Travel Reviews', 'Tarvel Review Ratings', 'Rice Leaf Diseases', 'Gas sensor array temperature modulation', 'Facebook Live Sellers in Thailand', 'Parkinson Dataset with replicated acoustic features', 'Metro Interstate Traffic Volume', 'Query Analytics Workloads Dataset', 'Wave Energy Converters', 'PPG-DaLiA', 'Alcohol QCM Sensor Dataset', 'Divorce Predictors data set', 'Incident management process enriched event log', 'Opinion Corpus for Lebanese Arabic Reviews (OCLAR)', 'MEx', 'Beijing Multi-Site Air-Quality Data', 'Online Retail II', 'Hepatitis C Virus (HCV) for Egyptian patients', 'QSAR fish toxicity', 'QSAR aquatic toxicity', 'Human Activity Recognition from Continuous Ambient Sensor Data', 'WISDM Smartphone and Smartwatch Activity and Biometrics Dataset', 'QSAR oral toxicity', 'QSAR androgen receptor', 'QSAR Bioconcentration classes dataset', 'QSAR fish bioconcentration factor (BCF)', 'A study of Asian Religious and Biblical Texts', 'Real-time Election Results: Portugal 2019', 'Bias correction of numerical prediction model temperature forecast', 'Bar Crawl: Detecting Heavy Drinking', 'Kitsune Network Attack Dataset', 'Shoulder Implant X-Ray Manufacturer Classification', 'Speaker Accent Recognition', 'Heart failure clinical records', 'Deepfakes: Medical Image Tamper Detection', 'selfBACK', 'South German Credit', 'Exasens', 'Swarm Behaviour', 'Crop mapping using fused optical-radar data set', 'BitcoinHeistRansomwareAddressDataset', 'Facebook Large Page-Page Network', 'Amphibians', 'Early stage diabetes risk prediction dataset.', 'Turkish Spam V01', 'Stock keeping units', 'Demand Forecasting for a store', 'Detect Malware Types', 'Wave Energy Converters', 'Youtube cookery channels viewers comments in Hinglish', 'Pedestrian in Traffic Dataset', 'Cervical Cancer Behavior Risk', 'Sattriya_Dance_Single_Hand_Gestures Dataset', 'Divorce Predictors data set', '3W dataset', 'Malware static and dynamic features VxHeaven and Virus Total', 'Internet Firewall Data', 'User Profiling and Abusive Language Detection Dataset', 'Estimation of obesity levels based on eating habits and physical condition', 'Rice (Cammeo and Osmancik)', 'Vehicle routing and scheduling problems', 'Algerian Forest Fires Dataset', 'Breath Metabolomics', 'Horton General Hospital', 'UrbanGB, urban road accidents coordinates labelled by the urban center', 'Gas Turbine CO and NOx Emission Data Set', 'Activity recognition using wearable physiological measurements', 'clickstream data for online shopping', 'CNNpred: CNN-based stock market prediction using a diverse set of variables', 'Apartment for rent classified', ': Simulated Data set of Iraqi tourism places', 'Nasarian CAD Dataset', 'Monolithic Columns in Troad and Mysia Region', 'Bar Crawl: Detecting Heavy Drinking', 'Seoul Bike Sharing Demand', 'Person Classification Gait Data', 'Shill Bidding Dataset', 'Iranian Churn Dataset', 'Unmanned Aerial Vehicle (UAV) Intrusion Detection', 'Bone marrow transplant: children', 'Exasens', 'COVID-19 Surveillance', 'Refractive errors', 'Shoulder Implant X-Ray Manufacturer Classification', 'CLINC150', 'HCV data', 'Taiwanese Bankruptcy Prediction', 'South German Credit (UPDATE)', 'IIWA14-R820-Gazebo-Dataset-10Trajectories', 'Guitar Chords finger positions', 'Russian Corpus of Biographical Texts', 'Codon usage', 'Intelligent Media Accelerometer and Gyroscope (IM-AccGyro) Dataset', 'Myocardial infarction complications', 'Hungarian Chickenpox Cases', 'Simulated data for survival modelling', 'Student Performance on an entrance examination', 'Chemical Composition of Ceramic Samples', 'Labeled Text Forum Threads Dataset', 'Stock keeping units', 'BLE RSSI dataset for Indoor localization', 'Basketball dataset', 'GitHub MUSAE', 'Anticancer peptides', 'Monolithic Columns in Troad and Mysia Region', 'Gender by Name', 'Iranian Churn Dataset', 'Unmanned Aerial Vehicle (UAV) Intrusion Detection', 'Shoulder Implant Manufacture Classification', 'LastFM Asia Social Network', 'Wheat kernels', 'Productivity Prediction of Garment Employees', 'Multi-view Brain Networks', 'LastFM Asia Social Network', 'Wisesight Sentiment Corpus', 'AI4I 2020 Predictive Maintenance Dataset', 'Dry Bean Dataset', 'in-vehicle coupon recommendation', 'Gait Classification', 'Wikipedia Math Essentials', 'Wikipedia Math Essentials', 'Synchronous Machine Data Set']

In [107]:
print(Data_type)

['Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Univariate, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Univariate, Time-Series ', 'Multivariate, Spatial ', 'Multivariate ', 'Multivariate, Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Data-Generator ', ' ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Relational ', 'Multivariate ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Sequential, Domain-Theory ', 'Sequential ', 'Sequential, Domain-Theory ', 'Multivariate ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Domain-Theory ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate, Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Data-Generator ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Text ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Relational ', 'Multivariate, Time-Series ', 'Spatio-temporal ', 'Transactional, Sequential ', 'Image ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Relational ', 'Multivariate, Relational ', 'Sequential ', 'Text ', 'Multivariate, Time-Series ', 'Univariate, Time-Series ', 'Text ', 'Multivariate, Time-Series ', 'Time-Series ', 'Multivariate, Text ', 'Text, Sequential ', 'Image ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Domain-Theory ', ' ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Text ', 'Text ', 'Multivariate ', 'Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate, Time-Series ', 'Univariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Text ', 'Domain-Theory ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Time-Series ', 'Multivariate, Text, Domain-Theory ', 'Time-Series, Domain-Theory ', 'Multivariate, Text, Domain-Theory ', 'Text ', 'Text ', 'Multivariate, Univariate, Text ', 'Multivariate, Univariate, Text ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Univariate ', 'Multivariate, Text, Domain-Theory ', 'Univariate ', 'Univariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Univariate, Text ', 'Sequential ', 'Text ', 'Multivariate, Time-Series ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Sequential, Text ', 'Multivariate, Univariate, Time-Series ', 'Time-Series, Multivariate ', 'Multivariate ', 'Sequential ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series, Text ', 'Univariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate, Time-Series ', ' ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Univariate, Sequential, Time-Series ', 'Univariate, Sequential, Time-Series ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Univariate, Domain-Theory ', 'Multivariate ', 'Multivariate, Time-Series ', ' ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Text ', 'Time-Series ', 'Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Univariate, Sequential, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Sequential, Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series, Domain-Theory ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series, Domain-Theory ', 'Multivariate, Time-Series ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Text ', 'Multivariate, Text ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate, Time-Series ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Time-Series ', ' ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', ' ', 'Text ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Time-Series ', 'Text ', ' ', ' ', 'Multivariate, Time-Series ', 'Multivariate ', 'Sequential, Text ', 'Multivariate, Text ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', ' ', 'Sequential ', 'Univariate ', 'Univariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Univariate, Domain-Theory ', 'Multivariate ', 'Text ', 'Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Time-Series ', 'Univariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Text ', 'Time-Series ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Univariate ', 'Multivariate ', 'Multivariate ', 'Univariate ', 'Time-Series ', 'Time-Series ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Time-Series ', 'Multivariate, Univariate, Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Text ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Univariate ', 'Multivariate, Sequential ', 'Text ', 'Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Time-Series, Text ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series, Text ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Univariate ', 'Multivariate ', 'Multivariate, Univariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Univariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Text ', 'Text ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Sequential, Time-Series ', 'Time-Series ', 'Multivariate ', 'Sequential ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Time-Series ', 'Multivariate ']

In [108]:
print(Task)

['Classification ', 'Classification ', 'Classification ', 'Recommender-Systems ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', ' ', ' ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Function-Learning ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Relational-Learning ', ' ', 'Classification ', 'Classification ', 'Classification ', ' ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', ' ', 'Classification ', 'Regression ', 'Classification ', 'Regression ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Clustering ', ' ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', ' ', 'Classification ', 'Classification ', 'Clustering ', 'Classification ', ' ', ' ', ' ', ' ', ' ', 'Recommender-Systems ', 'Classification ', 'Regression, Description ', ' ', ' ', 'Classification ', 'Regression ', 'Classification ', ' ', ' ', ' ', ' ', ' ', ' ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', ' ', 'Classification ', 'Classification ', ' ', ' ', ' ', ' ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', 'Clustering ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Causal-Discovery ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Causal-Discovery ', 'Clustering ', 'Classification, Clustering ', 'Regression ', 'Regression ', 'Classification ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', ' ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Regression, Clustering, Causal-Discovery ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification, Regression, Clustering ', 'Classification, Regression, Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification ', ' ', 'Classification ', 'Regression, Clustering ', 'Classification, Clustering ', 'Classification ', ' ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification, Regression ', 'Regression ', 'Classification, Regression ', 'Classification ', 'Regression, Clustering ', 'Classification, Regression ', 'Regression, Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification ', 'Clustering ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification, Regression, Clustering, Causa ', 'Classification, Clustering ', 'Regression ', 'Classification ', 'Regression ', 'Regression ', ' ', 'Classification ', ' ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification ', 'Classification, Clustering ', 'Classification, Regression, Clustering ', 'Regression ', 'Classification, Clustering ', 'Classification ', 'Regression ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification, Clustering, Causal-Discovery ', 'Classification, Regression, Clustering ', 'Classification, Regression ', 'Classification, Clustering ', 'Classification, Clustering ', 'Regression ', 'Classification ', 'Classification ', 'Clustering ', 'Classification, Regression ', 'Classification, Regression ', 'Classification, Regression ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Clustering ', 'Classification, Regression ', 'Regression ', 'Classification, Clustering ', 'Classification, Regression ', 'Classification ', 'Classification, Regression ', 'Regression, Clustering ', 'Classification, Regression ', 'Classification, Causal-Discovery ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Classification ', 'Regression, Clustering, Causal-Discovery ', 'Regression ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Clustering, Causal-Discovery ', 'Classification, Regression ', 'Classification ', 'Classification, Clustering ', 'Classification, Regression, Clustering ', 'Classification, Clustering ', 'Classification, Regression, Clustering ', 'Classification ', 'Classification ', 'Classification, Regression, Clustering ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Causal-Discovery ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Classification, Regression, Clustering ', 'Classification, Clustering ', 'Regression ', 'Classification, Regression ', 'Classification ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Causal-Discovery ', 'Clustering ', 'Classification, Clustering ', 'Classification ', 'Regression ', 'Classification, Clustering, Causal-Discovery ', 'Classification, Regression ', 'Classification, Regression, Clustering ', 'Classification, Regression, Clustering ', 'Classification ', 'Classification ', 'Regression ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Causal-Discovery ', 'Classification, Clustering ', 'Regression ', 'Classification, Clustering ', 'Classification ', 'Regression ', 'Classification, Clustering ', 'Classification, Regression ', 'Classification ', 'Regression ', 'Classification, Regression, Clustering ', 'Clustering ', 'Classification, Regression ', ' ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification ', 'Regression ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Classification ', 'Clustering ', 'Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Classification ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification, Regression ', 'Regression ', 'Clustering ', 'Classification ', 'Regression ', 'Clustering ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification, Regression ', 'Regression ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Regression ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Recommendation ', 'Classification, Regression, Clustering ', 'Classification, Regression, Clustering ', 'Classification ', 'Regression ', 'Classification, Regression ', 'Regression ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression, Clustering ', 'Classification, Regression ', 'Classification, Clustering ', 'Classification, Clustering ', 'Classification ', 'Classification, Regression ', 'Clustering ', 'Classification ', 'Regression ', 'Regression, Clustering ', 'Regression ', 'Regression ', 'Classification, Regression, Clustering ', 'Classification ', 'Regression, Clustering ', 'Classification ', 'Classification, Clustering ', 'Regression ', 'Classification, Regression, Clustering ', 'Classification ', 'Regression ', 'Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Regression ', 'Classification, Clustering ', 'Regression ', 'Regression ', 'Classification, Regression ', 'Classification, Clustering, Causal-Discovery ', 'Classification ', 'Classification ', 'Classification, Regression, Clustering ', 'Classification ', 'Classification, Clustering ', 'Classification, Regression, Clustering ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Clustering ', 'Regression ', 'Classification ', 'Regression ', 'Classification ', 'Classification, Regression, Causal-Discovery ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression, Clustering ', 'Classification ', 'Clustering ', 'Classification, Regression ', 'Classification, Clustering ', 'Causal-Discovery ', 'Clustering ', 'Regression, Clustering ', 'Classification ', 'Classification, Regression, Clustering ', 'Classification, Regression ', 'Classification, Regression, Clustering ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Regression ', 'Classification ', 'Classification, Clustering ', 'Classification, Regression ', 'Classification ', 'Classification, Regression ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification, Regression, Clustering ', 'Regression ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Regression ', 'Regression ', 'Classification ', 'Classification, Clustering ', 'Classification ', 'Clustering ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Clustering ', 'Classification, Regression ', 'Classification ', 'Classification ', 'Classification ', 'Classification ', 'Classification, Regression ', 'Classification, Clustering ', 'Classification ', 'Classification ', 'Classification, Regression, Causal-Discovery ', 'Classification ', 'Classification ', 'Classification ', 'Regression ', 'Regression ', 'Regression ']

In [109]:
print(Attribute_type)

['Categorical, Integer, Real ', 'Categorical, Integer ', 'Categorical, Integer, Real ', 'Categorical ', 'Categorical, Integer, Real ', 'Categorical, Integer, Real ', 'Categorical ', 'Categorical ', 'Categorical, Real ', 'Categorical, Integer, Real ', ' ', 'Categorical ', 'Categorical ', 'Categorical ', 'Integer ', 'Real ', 'Real ', 'Categorical, Integer ', 'Categorical ', 'Categorical, Integer ', 'Categorical, Integer ', 'Categorical ', 'Categorical, Integer ', ' ', 'Categorical, Integer ', 'Categorical ', 'Categorical, Integer, Real ', 'Categorical, Real, Integer ', 'Integer ', 'Categorical, Integer ', 'Categorical, Integer ', 'Categorical, Integer, Real ', 'Categorical, Integer ', 'Categorical, Integer ', 'Real ', ' ', ' ', 'Categorical, Integer, Real ', 'Real ', 'Categorical, Integer ', 'Real ', 'Real ', 'Integer ', 'Categorical ', 'Categorical, Integer, Real ', 'Categorical, Integer, Real ', 'Categorical, Integer, Real ', 'Real ', 'Real ', 'Categorical, Integer, Real ', 'Integer, Real ', 'Real ', 'Real ', 'Categorical ', 'Categorical, Integer, Real ', 'Categorical ', 'Categorical ', 'Integer ', 'Categorical, Integer, Real ', ' ', 'Integer ', 'Categorical ', 'Categorical, Integer, Real ', 'Categorical, Integer, Real ', 'Categorical, Integer, Real ', 'Categorical ', 'Categorical ', 'Categorical ', 'Categorical ', ' ', 'Integer, Real ', 'Categorical ', 'Integer ', 'Integer ', 'Categorical ', ' ', 'Integer, Real ', 'Integer ', 'Integer ', 'Categorical, Integer ', 'Categorical ', ' ', ' ', 'Real ', 'Categorical, Integer ', 'Categorical ', 'Categorical ', 'Categorical ', 'Categorical ', 'Integer ', 'Integer, Real ', 'Integer, Real ', 'Categorical ', 'Integer ', 'Categorical, Integer ', ' ', ' ', 'Categorical, Integer ', 'Categorical ', 'Categorical, Real ', 'Categorical ', 'Categorical, Integer ', 'Categorical ', 'Integer, Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', 'Categorical, Integer ', ' ', ' ', 'Categorical, Real ', 'Real ', 'Categorical ', 'Categorical, Integer ', 'Categorical, Real ', 'Real ', ' ', 'Categorical, Integer, Real ', 'Integer, Real ', 'Categorical ', 'Integer ', 'Categorical, Integer ', 'Categorical, Integer ', 'Categorical, Integer ', 'Real ', 'Categorical, Integer ', 'Categorical, Integer ', ' ', ' ', 'Categorical ', ' ', 'Categorical, Real ', ' ', 'Categorical ', 'Integer ', 'Real ', 'Categorical ', ' ', ' ', 'Categorical, Integer, Real ', 'Categorical, Integer ', 'Categorical, Real ', 'Integer ', 'Real ', 'Integer ', 'Integer ', 'Categorical ', 'Real ', 'Real ', ' ', ' ', 'Real ', 'Categorical, Integer ', 'Categorical, Integer ', 'Categorical, Integer ', 'Real ', 'Integer ', 'Integer ', 'Real ', ' ', 'Integer ', 'Real ', 'Real ', 'Real ', 'Integer ', 'Integer ', 'Integer ', 'Real ', 'Real ', 'Integer ', 'Real ', 'Real ', 'Real ', 'Integer ', 'Integer ', 'Real ', 'Categorical ', 'Real ', 'Real ', 'Real ', 'Categorical, Integer ', 'Real ', 'Integer, Real ', 'Real ', 'Integer, Real ', 'Integer ', ' ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Categorical, Integer, Real ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', ' ', 'Real ', 'Integer ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', ' ', 'Real ', ' ', ' ', 'Integer, Real ', 'Integer, Real ', 'Real ', ' ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', ' ', 'Integer ', 'Real ', 'Real ', 'Integer, Real ', 'Integer ', ' ', ' ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', ' ', 'Real ', 'Integer ', 'Real ', ' ', ' ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', 'Integer ', 'Integer, Real ', 'Real ', ' ', 'Integer, Real ', 'Real ', 'Real ', 'Integer, Real ', 'Integer, Real ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', ' ', 'Real ', ' ', ' ', 'Real ', 'Real ', 'Real ', ' ', 'Real ', 'Real ', 'Integer ', ' ', 'Real ', ' ', 'Integer ', ' ', 'Real ', 'Integer, Real ', 'Integer, Real ', 'Real ', 'Integer ', 'Integer, Real ', 'Real ', ' ', ' ', 'Real ', 'Real ', 'Integer, Real ', 'Integer ', 'Integer, Real ', 'Real ', ' ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Integer ', 'Real ', 'Real ', 'Integer, Real ', ' ', 'Real ', 'Real ', 'Integer ', 'Real ', 'Integer, Real ', 'Categorical ', ' ', 'Integer, Real ', ' ', ' ', 'Integer, Real ', 'Real ', 'Real ', ' ', 'Real ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', 'Integer ', 'Real ', 'Real ', 'Integer ', 'Integer, Real ', 'Real ', 'Integer, Real ', 'Integer ', 'Real ', 'Real ', 'Real ', 'Real ', ' ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', ' ', 'Integer ', ' ', 'Integer ', 'Real ', 'Real ', 'Real ', 'Integer ', 'Integer ', 'Integer, Real ', 'Real ', 'Integer ', ' ', 'Integer, Real ', 'Integer ', 'Integer, Real ', 'Real ', 'Integer ', 'Real ', 'Real ', 'Integer, Real ', 'Integer ', 'Real ', 'Integer, Real ', 'Integer, Real ', 'Integer, Real ', 'Integer, Real ', 'Integer ', 'Integer, Real ', 'Integer ', ' ', 'Integer, Real ', ' ', 'Real ', 'Real ', ' ', 'Integer ', 'Real ', 'Real ', 'Integer ', 'Real ', 'Integer ', 'Integer ', 'Integer, Real ', 'Integer, Real ', 'Integer ', 'Integer ', 'Real ', 'Integer ', 'Integer, Real ', 'Integer ', 'Integer ', 'Integer ', 'Integer, Real ', 'Real ', 'Integer, Real ', 'Integer ', ' ', 'Integer ', 'Real ', 'Integer, Real ', 'Integer, Real ', 'Real ', ' ', 'Integer, Real ', 'Real ', ' ', 'Integer ', 'Real ', 'Real ', 'Real ', 'Integer ', 'Integer ', 'Real ', 'Real ', 'Integer, Real ', ' ', 'Real ', 'Real ', 'Integer, Real ', 'Integer ', 'Integer ', 'Real ', ' ', ' ', 'Integer ', 'Integer ', 'Integer ', ' ', 'Real ', 'Categorical ', 'Integer ', 'Integer ', 'Integer ', 'Real ', 'Real ', 'Real ', ' ', 'Integer, Real ', ' ', 'Integer, Real ', 'Real ', 'Integer ', ' ', ' ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', 'Integer ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Integer ', 'Real ', 'Integer ', ' ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Integer ', 'Integer ', 'Integer ', 'Real ', 'Integer, Real ', 'Integer, Real ', 'Integer, Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', ' ', ' ', ' ', 'Integer, Real ', 'Integer ', 'Integer, Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Integer, Real ', 'Integer ', 'Real ', 'Real ', 'Integer, Real ', ' ', 'Integer, Real ', ' ', ' ', 'Integer, Real ', 'Integer ', ' ', 'Real ', ' ', 'Real ', 'Integer ', ' ', 'Integer ', 'Integer, Real ', 'Integer, Real ', ' ', ' ', 'Integer ', 'Real ', 'Integer, Real ', 'Real ', 'Real ', 'Integer ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', ' ', ' ', ' ', 'Real ', 'Real ', 'Integer, Real ', 'Real ', ' ', 'Integer ', 'Real ', 'Integer, Real ', 'Integer ', ' ', 'Integer ', 'Real ', ' ', 'Integer, Real ', 'Integer ', 'Integer, Real ', 'Integer ', ' ', ' ', ' ', 'Real ', 'Real ', 'Real ', 'Integer, Real ', ' ', 'Real ', 'Integer ', 'Integer, Real ', 'Integer ', 'Integer ', ' ', ' ', 'Real ', ' ', 'Integer ', 'Real ', ' ', ' ', 'Real ', 'Integer, Real ', 'Integer ', ' ', ' ', 'Real ', 'Integer, Real ', ' ', 'Real ', 'Real ', 'Real ', 'Real ']

In [110]:
print(No_of_instances)

['4177 ', '48842 ', '798 ', '37711 ', '452 ', '6000 ', '226 ', '226 ', '398 ', '205 ', '294 ', '625 ', '16 ', '286 ', '699 ', '198 ', '569 ', '108 ', '1728 ', '48842 ', ' ', '3196 ', '28056 ', ' ', '100 ', '67557 ', '690 ', '125 ', '209 ', '1473 ', '581012 ', '512 ', '366 ', ' ', ' ', ' ', ' ', '132 ', '336 ', '194 ', '352 ', '214 ', '306 ', '160 ', '303 ', '155 ', '368 ', ' ', '2310 ', '3279 ', '351 ', '150 ', '7797 ', '104 ', '57 ', ' ', '24 ', '20000 ', '345 ', ' ', '32 ', '148 ', '209 ', '528 ', ' ', '106 ', '128 ', '3190 ', '432 ', '202 ', '2000 ', '8124 ', '476 ', '6598 ', '12960 ', ' ', '5473 ', '5620 ', '10992 ', '90 ', '339 ', ' ', ' ', ' ', '167 ', '15 ', '1389 ', '307 ', '47 ', '23 ', '531 ', '4601 ', '267 ', '267 ', '76 ', ' ', '1000 ', '151 ', '958 ', '7200 ', '10 ', '285 ', '435 ', '527 ', '5000 ', '5000 ', '178 ', '1484 ', '101 ', ' ', '20000 ', '6650 ', '2565 ', '2458285 ', '299285 ', '340 ', '68040 ', ' ', '122 ', '178080 ', '50672 ', '640 ', '9000 ', '10104 ', '256932 ', '640 ', '191779 ', '4000000 ', ' ', '10000 ', '989818 ', '129000 ', ' ', '100000 ', '21578 ', '463 ', '600 ', '332 ', ' ', ' ', '690 ', '1000 ', '270 ', '6435 ', '2310 ', '58000 ', '946 ', '20008 ', '208 ', '528 ', ' ', ' ', '1024 ', '10080 ', '50400 ', '1025010 ', '19020 ', '1364 ', '961 ', '517 ', '200 ', '8000000 ', '1030 ', '606 ', '900 ', '2600 ', '1950 ', '13500 ', '4400 ', '2536 ', '300 ', '197 ', '2858 ', '748 ', '11640 ', '1593 ', '1567 ', '22632 ', '360 ', '103 ', '1994 ', '120 ', '4898 ', '2396130 ', '16772 ', '5875 ', '503 ', '51 ', '106 ', '2126 ', '5456 ', '8800 ', '164860 ', ' ', '1941 ', '130065 ', '515345 ', '440 ', ' ', '53500 ', '8235 ', ' ', '5749132 ', '2215 ', '310 ', '10000 ', '3000 ', '1500 ', '30000 ', '2500 ', '4143 ', '64 ', '53414 ', '65554 ', '45211 ', '1138562 ', '13910 ', '583 ', '2551 ', '34465 ', '5574 ', '245057 ', '182 ', '3850505 ', '138 ', '1080 ', '2075259 ', '210 ', '115 ', '3960456 ', ' ', '10299 ', '1600 ', '768 ', '308 ', '100 ', '237 ', '434874 ', '536 ', '140000 ', '6118 ', '165632 ', '18000 ', '540 ', '931 ', '1055 ', '100 ', '9120 ', '403 ', '111740 ', '10421 ', '5820 ', '403 ', '14980 ', '45730 ', '2584 ', '1372 ', '306 ', '120000 ', '13910 ', '2747 ', '3395 ', '39242 ', '4137 ', '17389 ', '51 ', '470 ', '132 ', '5000000 ', '11000000 ', '250 ', '126 ', ' ', '4889 ', ' ', ' ', '340 ', '501 ', '45781 ', '1503 ', '440 ', '2000 ', '9568 ', '168 ', '100000 ', '5665 ', '79 ', '127 ', '1040 ', '9900 ', '560 ', '60021 ', '1419 ', '101 ', '399 ', '58 ', '180 ', '21048 ', ' ', '750 ', '3000 ', '150 ', '1059 ', '11934 ', '27965 ', '216 ', '120 ', '649 ', '370 ', '4178504 ', '221579 ', '10800 ', '58509 ', '129685 ', '2456 ', '2921 ', '1151 ', '6590 ', '3000 ', '39797 ', '326 ', '913 ', '168286 ', '400 ', '314080 ', '637 ', '1710671 ', '12000 ', '10929 ', '1080 ', '40000 ', '43930257 ', '230318 ', '10500000 ', '13197 ', ' ', '30000 ', '324 ', '541909 ', '11164866 ', '163 ', '373 ', '20560 ', '40 ', '422937 ', '9358 ', '640 ', '919438 ', '40949 ', '5744 ', '10503 ', '42240 ', '102944 ', '500 ', '9782222 ', '11463 ', '17898 ', '1885 ', '19735 ', '1540 ', '4007 ', '153540 ', '606 ', '1353 ', '1956 ', '43824 ', '3942 ', '858 ', '287 ', '17764280 ', '106574 ', '9358 ', '11500 ', '92000 ', '315 ', '78095 ', '130 ', '74 ', '52854 ', '77 ', '811 ', '504 ', '401 ', '2856 ', '10546 ', '801 ', '1540 ', '1451 ', '1075 ', '78095 ', '7195 ', '3600 ', '76 ', '60 ', '405 ', '303 ', '303 ', '107888 ', '76000 ', '10000 ', '180 ', '745000 ', '12234 ', '292 ', '104 ', '60000 ', '2000 ', '165 ', '217 ', '1175 ', '704 ', '75128 ', '90 ', '90 ', '50 ', '71 ', '93239 ', '540 ', '105 ', '6611 ', '15 ', '372 ', '58000 ', '4960 ', '241600 ', '130000 ', '7062606 ', '740 ', '70 ', '2205 ', '10721 ', '640 ', '1000 ', '116 ', '1672 ', '322 ', '93600 ', '3060 ', '5879 ', '9200 ', '20000 ', '20867 ', ' ', '4143 ', '215063 ', '6000000 ', '21263 ', '63000000 ', '10190 ', '300 ', '12330 ', '5180 ', '756 ', '10000 ', '80 ', '1184 ', '1047 ', '777 ', '249 ', '414 ', ' ', '143 ', '7840 ', '30000 ', '35717 ', '135 ', '980 ', '5456 ', '120 ', '4095000 ', '7051 ', '240 ', '48204 ', '260000 ', '288000 ', '8300000 ', '125 ', '170 ', '141712 ', '3916 ', '6262 ', '420768 ', '1067371 ', '1385 ', '908 ', '546 ', '13956534 ', '15630426 ', '8992 ', '1687 ', '779 ', '1056 ', '590 ', '21643 ', '7750 ', '14057567 ', '27170754 ', '597 ', '329 ', '299 ', '20000 ', '26136 ', '1000 ', '399 ', '24017 ', '325834 ', '2916697 ', '22470 ', '189 ', '520 ', '826 ', '2279 ', '28764 ', '7107 ', '288000 ', '9800 ', '4760 ', '72 ', '1450 ', '170 ', '1984 ', '2955 ', '65532 ', '65919 ', '2111 ', '3810 ', '18 ', '244 ', '104 ', '139 ', '360177 ', '36733 ', '4480 ', '165474 ', '1985 ', '10000 ', '232 ', '150 ', '11 ', '14057567 ', '8760 ', '48 ', '6321 ', '3150 ', '17256 ', '187 ', '399 ', '14 ', '467 ', '597 ', '23700 ', '615 ', '6819 ', '1000 ', ' ', '2633 ', '200 ', '13028 ', '800 ', '1700 ', '521 ', '120000 ', '666 ', '88 ', '200 ', '2279 ', '23570 ', '10000 ', '37700 ', '1850 ', '11 ', '147270 ', '3150 ', '17256 ', '597 ', '7624 ', '314 ', '1197 ', '70 ', '7624 ', '26737 ', '10000 ', '13611 ', '12684 ', '48 ', '731 ', '731 ', '557 ']

In [111]:
print(No_of_attributes)

['8 ', '14 ', '38 ', '294 ', '279 ', '7 ', ' ', '69 ', '8 ', '26 ', '1 ', '4 ', '4 ', '9 ', '10 ', '34 ', '32 ', '13 ', '6 ', '14 ', '22 ', '36 ', '6 ', ' ', '6 ', '42 ', '15 ', ' ', '9 ', '9 ', '54 ', '39 ', '33 ', '20 ', ' ', ' ', ' ', '12 ', '8 ', '30 ', ' ', '10 ', '3 ', '5 ', '75 ', '19 ', '27 ', ' ', '19 ', '1558 ', '34 ', '4 ', '617 ', '12 ', '16 ', '7 ', '4 ', '16 ', '7 ', ' ', '56 ', '18 ', '8 ', '22 ', ' ', '58 ', ' ', '61 ', '7 ', ' ', '649 ', '22 ', '168 ', '168 ', '8 ', ' ', '10 ', '64 ', '16 ', '8 ', '17 ', ' ', ' ', '72 ', '4 ', '6 ', '10 ', '35 ', '35 ', '4 ', '102 ', '57 ', '22 ', '44 ', '45 ', ' ', ' ', '5 ', '9 ', '21 ', '32 ', '17 ', '16 ', '38 ', '21 ', '40 ', '13 ', '8 ', '17 ', ' ', ' ', '15 ', '22 ', '68 ', '40 ', '17 ', '89 ', ' ', '4 ', '12 ', ' ', ' ', '86 ', '72 ', '61 ', '12 ', '481 ', '42 ', ' ', ' ', ' ', ' ', ' ', ' ', '5 ', '90 ', ' ', '5 ', ' ', ' ', '14 ', '20 ', '13 ', '36 ', '19 ', '9 ', '18 ', '4 ', '60 ', '10 ', ' ', ' ', '10 ', '4 ', '3 ', '11 ', '11 ', ' ', '6 ', '13 ', ' ', '100000 ', '9 ', '101 ', '10000 ', '20000 ', '100000 ', '5000 ', '500 ', '73 ', '43 ', '23 ', '3 ', '5 ', ' ', '256 ', '591 ', '70 ', '91 ', '10 ', '128 ', '6 ', '12 ', '3231961 ', '5409 ', '26 ', ' ', ' ', '10 ', '23 ', '24 ', '13 ', '8 ', ' ', '27 ', '50 ', '90 ', '138672 ', ' ', '386 ', ' ', ' ', '12 ', '147 ', '6 ', '8 ', '27 ', '10000 ', '20000 ', '10000 ', '54877 ', '4702 ', '24 ', '29 ', '17 ', '3 ', '128 ', '10 ', '242 ', '120 ', ' ', '4 ', '13 ', '52 ', '47 ', '857 ', '9 ', '7 ', '200 ', '4 ', ' ', '561 ', '64 ', '8 ', '7 ', '10 ', '9 ', '4 ', '8 ', '77 ', '51 ', '18 ', '1950000 ', '18 ', '1300 ', '41 ', '6 ', '5625 ', '5 ', ' ', '7 ', '33 ', '5 ', '15 ', '9 ', '19 ', '5 ', '5 ', '1000000 ', '129 ', ' ', '20 ', '152 ', '24 ', '16 ', '35 ', '17 ', '5 ', '18 ', '28 ', '7 ', '309 ', '3 ', '6 ', ' ', ' ', '16 ', '13 ', '5 ', '6 ', '8 ', '2 ', '4 ', '148 ', '55 ', '17 ', '8 ', '42 ', '26 ', '50 ', '2 ', '281 ', '120 ', ' ', '6 ', '120432 ', '150000 ', '529 ', ' ', '16 ', '2500 ', '5 ', '68 ', '16 ', '100 ', '216 ', '23 ', '33 ', '140256 ', '19 ', '20 ', '20 ', '49 ', '12 ', '30 ', '5232 ', '20 ', '1 ', ' ', '61 ', '27 ', '53 ', '11 ', '25 ', '0 ', '20 ', '9 ', '3 ', '561 ', '82 ', '13 ', '16 ', '13 ', '28 ', '4 ', ' ', '24 ', '34 ', '8 ', '128 ', '15 ', '513 ', '7 ', '7 ', '5 ', '15 ', '480000 ', '11 ', '54 ', '561 ', '64 ', '6 ', '116 ', '19 ', ' ', '5812 ', '9 ', '32 ', '29 ', '67 ', ' ', '25 ', '6400 ', '10 ', '5 ', '13 ', '98 ', '36 ', '69 ', '2158859 ', '518 ', '15 ', '179 ', ' ', '12 ', '38 ', '65 ', '102 ', '86 ', '7 ', '53 ', '20 ', '1 ', '71 ', '29 ', '20531 ', '65 ', '3 ', '22 ', '38 ', '22 ', '4814 ', '698 ', '13 ', '10 ', '59 ', '56 ', '482 ', '171 ', '5 ', '500 ', '411 ', '8519 ', '21 ', '21 ', '171 ', '7 ', '49 ', '12 ', '3 ', '21 ', '9 ', '8 ', '7 ', '2 ', '11 ', '11 ', '173 ', '5 ', '15 ', '3 ', '105 ', '25000 ', ' ', '18 ', '21000 ', '115 ', '21 ', '206 ', '43680 ', '8 ', '10 ', '59 ', '10 ', '5 ', '5 ', '1000 ', '138 ', ' ', '16 ', '2 ', '10 ', ' ', '8 ', '6 ', '129 ', '81 ', '12 ', '6 ', '22 ', '18 ', '9 ', '754 ', '14 ', '5 ', ' ', ' ', '18 ', '7 ', '7 ', ' ', '7 ', '5 ', '6 ', '4 ', '18 ', '11 ', '25 ', ' ', '20 ', '12 ', '46 ', '9 ', '8 ', '49 ', '11 ', '8 ', '54 ', '36 ', '3916 ', '710 ', '18 ', '8 ', '29 ', '7 ', '9 ', '37 ', '6 ', '1024 ', '1024 ', '14 ', '7 ', '8265 ', '29 ', '25 ', '3 ', '115 ', '1 ', '12 ', '13 ', '200000 ', '6 ', '21 ', '4 ', '2400 ', '175 ', '10 ', '4714 ', '23 ', '17 ', '2 ', '9 ', '8 ', '280 ', '49 ', '3 ', '14 ', '19 ', ' ', '54 ', '8 ', '1087 ', '12 ', '3 ', '17 ', '8 ', '9 ', '12 ', '1656 ', '6 ', '2 ', '11 ', '533 ', '14 ', '84 ', '22 ', '16 ', '52 ', '19 ', '3 ', '14 ', '321 ', '13 ', '13 ', '55 ', '39 ', '4 ', '7 ', '79 ', '1 ', ' ', '14 ', '96 ', '21 ', ' ', '5 ', '2 ', '69 ', '9 ', '124 ', '20 ', '25 ', '11 ', '19 ', '9 ', '9 ', '5 ', '7 ', '4006 ', '2 ', '19 ', '4 ', '13 ', '55 ', '1 ', '7842 ', '15 ', '15 ', '70 ', '7842 ', '4 ', '14 ', '17 ', '23 ', '321 ', '1068 ', '1068 ', '5 ']

In [112]:
print(Year)

['1995 ', '1996 ', ' ', '1998 ', '1998 ', '1992 ', '1987 ', '1992 ', '1993 ', '1987 ', '1994 ', '1994 ', ' ', '1988 ', '1992 ', '1995 ', '1995 ', '1990 ', '1997 ', '1996 ', '1988 ', '1989 ', '1994 ', ' ', ' ', '1995 ', ' ', '1992 ', '1987 ', '1997 ', '1998 ', '1995 ', '1998 ', ' ', ' ', '1994 ', ' ', '1989 ', '1996 ', '1990 ', '1990 ', '1987 ', '1999 ', '1989 ', '1988 ', '1988 ', '1989 ', ' ', '1990 ', '1998 ', '1989 ', '1988 ', '1994 ', '1990 ', '1988 ', '1988 ', '1990 ', '1991 ', '1990 ', ' ', '1992 ', '1988 ', '1990 ', '1996 ', '1995 ', '1990 ', ' ', '1992 ', '1992 ', '1994 ', ' ', '1987 ', '1994 ', '1994 ', '1997 ', '1991 ', '1995 ', '1998 ', '1998 ', '1993 ', '1988 ', ' ', ' ', '1992 ', '1993 ', '1988 ', '1989 ', '1988 ', '1987 ', '1993 ', '1988 ', '1999 ', '2001 ', '2001 ', ' ', '1992 ', '1993 ', '1997 ', '1991 ', '1987 ', '1994 ', '1988 ', '1987 ', '1993 ', '1988 ', '1988 ', '1991 ', '1996 ', '1990 ', ' ', '1999 ', '1999 ', '2002 ', ' ', '2000 ', '1999 ', '1999 ', '2001 ', '1999 ', '1999 ', '2000 ', '1999 ', '2000 ', '1999 ', '1999 ', ' ', '1998 ', '1999 ', '2001 ', '1999 ', ' ', '2003 ', '1999 ', '1999 ', '1997 ', '1999 ', '1999 ', '1998 ', ' ', ' ', ' ', '1994 ', ' ', '1993 ', '1990 ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '1989 ', '2006 ', '2006 ', '2007 ', '2007 ', '2007 ', '2007 ', '2008 ', '2008 ', '2008 ', '2007 ', '2008 ', '2008 ', '2008 ', '2008 ', '2008 ', '2008 ', '2008 ', '2008 ', '2008 ', '2008 ', '2008 ', '2009 ', '2008 ', '2008 ', '2008 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2010 ', '2009 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2014 ', '2013 ', '2013 ', '2013 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2013 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2015 ', '2014 ', '2014 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2014 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2016 ', '2016 ', '2015 ', '2016 ', '2016 ', '2015 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2017 ', '2016 ', '2017 ', '2016 ', '2017 ', '2017 ', '2016 ', '2016 ', '2017 ', '2017 ', '2016 ', '2017 ', '2017 ', '2017 ', '2017 ', '2016 ', '2017 ', '2016 ', '2016 ', '2016 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2016 ', '2016 ', '2016 ', '2016 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2016 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2016 ', '2016 ', '2016 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2017 ', '2016 ', '2018 ', '2018 ', '2016 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2018 ', '2019 ', '2019 ', '2018 ', '2018 ', '2018 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2020 ', '2020 ', '2019 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2019 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2021 ', '2018 ', '2018 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2019 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2020 ', '2021 ', '2021 ', '2021 ']

In [113]:
df_UCI = pd.DataFrame({})
df_UCI["Dataset Name"] = Dataset_name
df_UCI["Data Type"] = Data_type
df_UCI["Task"] = Task
df_UCI["No of Instances"] = No_of_instances
df_UCI["No of Attributes"] = No_of_attributes
df_UCI["Year"] = Year

In [114]:
df_UCI

,Dataset Name,Data Type,Task,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,4177,8,1995
1,Adult,Multivariate,Classification,48842,14,1996
2,Annealing,Multivariate,Classification,798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,37711,294,1998
4,Arrhythmia,Multivariate,Classification,452,279,1998
...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,12684,23,2020
584,Gait Classification,Multivariate,Classification,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,557,5,2021

In [115]:
driver.close()