In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import ElementNotInteractableException,StaleElementReferenceException,NoSuchElementException
import time
import re
import requests

In [2]:
url =  'https://www.yatra.com/'
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window() 
driver.get(url) #accessing the url on web driver
i=0
while(i<10):
    driver.execute_script("window.scrollBy(0,100)") # scroll down to get access to data for scraping
    i+=1

In [11]:
url =[] #creating an empty list 

#Scraping all the necessary url data from which to scrape the required air fare data
flturl_tag = driver.find_elements_by_xpath("//a[@class='VueCarousel-slide items']")

for u in flturl_tag:
    
    try: 
        url.append(u.get_attribute("href"))
    except:
        url.append('-')
        
locbtn1 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[1]')
locbtn1.click()

In [12]:
for u in flturl_tag:
    
    try: 
        url.append(u.get_attribute("href"))
    except:
        url.append('-')
    time.sleep(1)
    
locbtn2 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[2]')
locbtn2.click()

In [13]:
for u in flturl_tag:
    try:
        url.append(u.get_attribute("href"))
    except:
        url.append('-')
time.sleep(1)

locbtn3 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[3]')
locbtn3.click()

In [14]:
for u in flturl_tag:
    try: 
        url.append(u.get_attribute("href"))
    except:
        url.append('-')
time.sleep(1)

locbtn4 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[4]')
locbtn4.click()

In [15]:
for u in flturl_tag:
    
    try: 
        url.append(u.get_attribute("href"))
    except:
        url.append('-')
time.sleep(1)

locbtn5 = driver.find_element_by_xpath('/html/body/div[2]/div/section/div[2]/div[2]/ul/li[5]')
locbtn5.click()

In [16]:
for u in flturl_tag:
    
    try: 
        url.append(u.get_attribute("href"))
    except:
        url.append('-')
time.sleep(1)
len(url)

120

In [17]:
url = [ x for x in url if "https://www.yatra.com/international-flights/" not in x ] #removing foreign flight links

In [18]:
len(url) #the list contains all important url data for web scraping

60

In [19]:
airline = [] #empty list to contain all the scraped 
fltnum= [] 
src= [] 
deptdate = []
stops= [] 
duration= [] 
price= [] 
n = []

In [20]:
for l in url:
    driver.get(l) #loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    ltag= driver.find_elements_by_xpath("/html/body/div[3]/div[2]/div[3]/div[1]/div[1]/article/div[2]/strong[5]/a")
    for u in ltag:
        try:
             n.append(u.get_attribute("href")) 
        except:
             n.append('-') #finds all url elements of return flights and appends them to the empty list
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text) #finds all airline name elements and appends them to airline list
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag:
              fltnum.append(i.text) #finds all airline flightnumber elements and appends them to flightnumber list
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text) ###Appends the flight date element of the current url web page for 10 times to deptdate list and repeats for every url webpage
    except:
        deptdate.append('-')

In [21]:
#Extracting Air Fare Data from URL webpages of return flights, program functions exactly same as above

for l in n:
    driver.get(l)
    time.sleep(4)
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
        for i in airlinetag:
            airline.append(i.text)
    except:
        airline.append('-')
        
    try:
        fltnumtag = driver.find_elements_by_xpath("//p[@class ='normal fs-11 font-lightestgrey no-wrap fl-no']/span")
        for i in fltnumtag:
              fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//p[@class ='fs-10 font-lightgrey no-wrap city ellipsis']")
        for i in srctag:
            src.append(i.text)
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm' or @class='cursor-default']")
        for i in stopstag:
            stops.append(i.text)
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//p[@class ='fs-12 bold du mb-2']")
        for i in durationtag:
            duration.append(i.text)
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='i-b tipsy fare-summary-tooltip fs-18']")
        for i in pricetag:
            price.append(i.text)
    except:
        price.append('-')
      
    try:
        deptdatetag = driver.find_element_by_xpath("//span[@class ='lowestDate']")
        for i in range(0,10):
            deptdate.append(deptdatetag.text)
    except:
        deptdate.append('-')

In [22]:
dest=[] #empty list to contain destination location data
source=[]   #empty list to contain source location data
for i in range(0,len(src),2):  
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i]) ## splits the data elements in src list into source and destination

In [23]:
(len(airline),len(fltnum),len(deptdate),len(source),len(dest),len(duration),len(stops),len(price))

(1188, 1188, 1173, 1188, 1188, 1188, 1188, 1188)

In [28]:
#Creating FlightDF Data Frame with the scraped data
FlightDF= pd.DataFrame({'Airline':airline[:1173],'Flight Number':fltnum[:1173],'Date of Departure':deptdate[:1173],'From':source[:1173],'To':dest[:1173],'Duration':duration[:1173],'Total Stops':stops[:1173],'Price':price[:1173]})

In [29]:
FlightDF

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,SpiceJet,SG-8263,"Thu, Feb 10",Kolkata,Port Blair,2h 00m,Non Stop,"4,421"
1,IndiGo,6E-2106,"Thu, Feb 10",Kolkata,Port Blair,2h 25m,Non Stop,"4,425"
2,Go First,G8-101,"Thu, Feb 10",Kolkata,Port Blair,2h 25m,Non Stop,"4,425"
3,Air India,AI-787,"Thu, Feb 10",Kolkata,Port Blair,2h 05m,Non Stop,"4,757"
4,Air India,AI-765/549,"Thu, Feb 10",Kolkata,Port Blair,17h 35m,1 Stop,"8,531"
...,...,...,...,...,...,...,...,...
1168,Air India,AI-525,"Wed, Feb 9",Hyderabad,Kolkata,2h 05m,Non Stop,"2,080"
1169,IndiGo,6E-6893,"Wed, Feb 9",Hyderabad,Kolkata,2h 10m,Non Stop,"2,080"
1170,IndiGo,6E-514/606,"Wed, Feb 9",Hyderabad,Kolkata,6h 40m,1 Stop,"2,080"
1171,IndiGo,6E-6151/183,"Wed, Feb 9",Hyderabad,Kolkata,7h 15m,1 Stop,"2,080"
1172,IndiGo,6E-514/6016,"Wed, Feb 9",Hyderabad,Kolkata,8h 25m,1 Stop,"2,080"

In [31]:
FlightDF.to_csv('FlightDatascrape.csv') # Saving as .csv file

In [32]:
driver.quit()

### Scraping Data from EaseMyTrip

In [62]:
url = 'https://www.easemytrip.com/'
driver = webdriver.Chrome('chromedriver.exe')
driver.maximize_window() 
driver.get(url) #accessing the url on web driver

In [ ]:
n = ['https://flight.easemytrip.com/FlightList/Index?srch=DEL-Delhi-India|BOM-Mumbai-India|25/01/2022&px=1-0-0&cbn=0&ar=undefined&isow=true&isdm=true&lng=&&IsDoubleSeat=false']

In [64]:
airline = [] #empty list to contain all the scraped airline names
fltnum= []  #empty list to contain all the scraped airline flight numbers
src= [] #empty list to contain all the scraped airline flight route data
deptdate = [] #empty list to contain all the scraped airline flight departure dates
stops= [] #empty list to contain all the scraped airline flight total stops
duration= [] #empty list to contain all the scraped airline flight duration
price= [] #empty list to contain all the scraped airline flight ticket price

In [65]:
urls = []
urls = driver.find_elements_by_xpath("(//div[@class='fl_container'])[1]//ul//li/a[@class='srch_btn']")
len(urls)

10

In [66]:
url =[]
for u in urls:
    try: 
        url.append(u.get_attribute("href"))
    except:
        url.append('-')

In [67]:
for l in url:
    driver.get(l)#loading the url on web driver
    time.sleep(4) # giving the webpage 4 seconds to load
    
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            airline.append(i.text)#finds all airline name elements and appends them to airline list
            
    except:
        airline.append('-')
        al.append('-')
    try:
        fltnumtag = driver.find_elements_by_xpath("//span[@class ='txt-r5']")
        for i in fltnumtag:#finds all airline flightnumber elements and appends them to flightnumber list
            fltnum.append(i.text)
    except:
        fltnum.append('-')   
    try:
        srctag = driver.find_elements_by_xpath("//span[@class ='txt-r3-n ng-binding']")
        for i in srctag:
            src.append(i.text) #finds all airline route elements and appends them to src list
    except:
        src.append('-')
        
    try:
        stopstag = driver.find_elements_by_xpath("//span[@class='dura_md2 ng-scope']")
        for i in stopstag:
            stops.append(i.text) #finds all airline flight total stops elements and appends them to stops list
    except:
        stops.append('-')
    try:
        durationtag = driver.find_elements_by_xpath("//span[@class ='dura_md ng-binding']")
        for i in durationtag:
            duration.append(i.text) #finds all airline flight duration elements and appends them to duration list
    except:
        duration.append('-')
    
    try:
        pricetag = driver.find_elements_by_xpath("//div[@class ='col-md-8 col-sm-8 col-xs-9 txt-r6-n ng-binding']")
        for i in pricetag:
            price.append(i.text) #finds all airline flight ticket price elements and appends them to price list
    except:
        price.append('-')

In [68]:
for l in url:
    driver.get(l)
    time.sleep(4)
    al=[] # an empty list to append airline names to be used later for scraping Date data
    try:
        airlinetag = driver.find_elements_by_xpath("//span[@class='txt-r4 ng-binding']")
        for i in airlinetag:
            al.append(i.text)#finds all airline name elements and appends them to al list
            
    except:
        
        al.append('-')
    try:
        deptdatetag = driver.find_element_by_xpath("//*[@id='jssor_1']/div/div/div/div/div[2]/div[6]/div[1]/div[1]/div[1]")
        for i in range(0,len(al)):
            deptdate.append(deptdatetag.text) 
    except:
        deptdate.append('-')    #Appends the flight date element of the current url

In [69]:
Price = list(filter(None, price))#removing blank elements from list

In [70]:
dest=[] #empty list to contain destination location data
source=[]#empty list to contain source location data
for i in range(0,len(src),2):
    source.append(src[i])
for i in range(1,len(src),2):
    dest.append(src[i]) ## splits the data elements in src list into source and destination data elements

In [71]:
(len(airline),len(fltnum),len(deptdate),len(source),len(dest),len(duration),len(stops),len(price))

(778, 778, 779, 778, 778, 778, 778, 1367)

In [78]:
FlightDF2= pd.DataFrame({'Airline':airline,'Flight Number':fltnum,'Date of Departure':deptdate[0:778],'From':source,'To':dest,'Duration':duration,'Total Stops':stops,'Price':Price[:778]})
FlightDF2

,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,GO FIRST,G8- 334,Jan 29,Delhi,Mumbai,02h 10m,non-stop,"5,954"
1,GO FIRST,G8- 330,Jan 29,Delhi,Mumbai,02h 15m,non-stop,"5,954"
2,GO FIRST,G8- 323,Jan 29,Delhi,Mumbai,02h 20m,non-stop,"5,954"
3,Vistara,UK-951,Jan 29,Delhi,Mumbai,02h 10m,non-stop,"5,955"
4,Vistara,UK-985,Jan 29,Delhi,Mumbai,02h 10m,non-stop,"5,955"
...,...,...,...,...,...,...,...,...
773,Vistara,UK-928,Jan 29,Mumbai,Bangalore,10h 30m,1-stop,"22,848"
774,Vistara,UK-852,Jan 29,Mumbai,Bangalore,23h 40m,2+-stop,"22,996"
775,Vistara,UK-852,Jan 29,Mumbai,Bangalore,28h 50m,2+-stop,"22,996"
776,Air India,AI-675,Jan 29,Mumbai,Bangalore,13h 55m,1-stop,"22,743"
777,Vistara,UK-852,Jan 29,Mumbai,Bangalore,11h 10m,2+-stop,"23,101"

In [80]:
FlightDF = pd.read_csv("FlightDatascrape.csv")
FlightDF

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0,SpiceJet,SG-8263,"Thu, Feb 10",Kolkata,Port Blair,2h 00m,Non Stop,"4,421"
1,1,IndiGo,6E-2106,"Thu, Feb 10",Kolkata,Port Blair,2h 25m,Non Stop,"4,425"
2,2,Go First,G8-101,"Thu, Feb 10",Kolkata,Port Blair,2h 25m,Non Stop,"4,425"
3,3,Air India,AI-787,"Thu, Feb 10",Kolkata,Port Blair,2h 05m,Non Stop,"4,757"
4,4,Air India,AI-765/549,"Thu, Feb 10",Kolkata,Port Blair,17h 35m,1 Stop,"8,531"
...,...,...,...,...,...,...,...,...,...
1168,1168,Air India,AI-525,"Wed, Feb 9",Hyderabad,Kolkata,2h 05m,Non Stop,"2,080"
1169,1169,IndiGo,6E-6893,"Wed, Feb 9",Hyderabad,Kolkata,2h 10m,Non Stop,"2,080"
1170,1170,IndiGo,6E-514/606,"Wed, Feb 9",Hyderabad,Kolkata,6h 40m,1 Stop,"2,080"
1171,1171,IndiGo,6E-6151/183,"Wed, Feb 9",Hyderabad,Kolkata,7h 15m,1 Stop,"2,080"
1172,1172,IndiGo,6E-514/6016,"Wed, Feb 9",Hyderabad,Kolkata,8h 25m,1 Stop,"2,080"

In [83]:
FlightData = pd.concat([FlightDF,FlightDF2],ignore_index = True)
FlightData

,Unnamed: 0,Airline,Flight Number,Date of Departure,From,To,Duration,Total Stops,Price
0,0.0,SpiceJet,SG-8263,"Thu, Feb 10",Kolkata,Port Blair,2h 00m,Non Stop,"4,421"
1,1.0,IndiGo,6E-2106,"Thu, Feb 10",Kolkata,Port Blair,2h 25m,Non Stop,"4,425"
2,2.0,Go First,G8-101,"Thu, Feb 10",Kolkata,Port Blair,2h 25m,Non Stop,"4,425"
3,3.0,Air India,AI-787,"Thu, Feb 10",Kolkata,Port Blair,2h 05m,Non Stop,"4,757"
4,4.0,Air India,AI-765/549,"Thu, Feb 10",Kolkata,Port Blair,17h 35m,1 Stop,"8,531"
...,...,...,...,...,...,...,...,...,...
1946,NaN,Vistara,UK-928,Jan 29,Mumbai,Bangalore,10h 30m,1-stop,"22,848"
1947,NaN,Vistara,UK-852,Jan 29,Mumbai,Bangalore,23h 40m,2+-stop,"22,996"
1948,NaN,Vistara,UK-852,Jan 29,Mumbai,Bangalore,28h 50m,2+-stop,"22,996"
1949,NaN,Air India,AI-675,Jan 29,Mumbai,Bangalore,13h 55m,1-stop,"22,743"
1950,NaN,Vistara,UK-852,Jan 29,Mumbai,Bangalore,11h 10m,2+-stop,"23,101"

In [84]:
FlightData.drop(columns=['Unnamed: 0'],inplace=True) #dropping Unnamed: 0 column

In [85]:
FlightData.to_csv("Flight_webscraping.csv") # Saving as .csv file